mixin tab_contenu(instruction, juridiction)
  .form-group
    label.col-sm-3.control-label
      | Juriduction :
    .col-sm-8
      select.form-control.search-select(name='juridiction' onchange='confirm_new_juridiction(this,"#{dossier.id.toString()}")')
        if (juridiction)
          // rajouter dans les options la valeur sélectionnée
          each j in juridiction
            option(value=j._id, selected=((instruction && j._id == instruction.juridiction._id.toString()) ? true : false) ) #{j.nom}
          if (!instruction)
            option(value=null selected = true)

  .form-group
    label.col-sm-3.control-label
      | Calendrier d'instruction
      br
      |  ou de mise en état :
    .col-sm-8(style='margin-top: 20px;')
      a#renseigner_mide_en_etat.btn.btn-dark-purple.show-calendar(href='#calendrierMiseEtat' ) Voir / Renseigner
  .form-group
    label.col-sm-3.control-label
      | Dilligences :
    .col-sm-8
      a#renseigner_diligence.btn.btn-dark-blue.show-calendar(href='#dilligence' ) Voir / Renseigner

  if (instruction)
    #bloc_renvoi_ins(class=(instruction && instruction.renvois.length>0) ? '' : 'hidden' )
      h3 Renvois
      hr
      #liste_renvoi_ins.form-group
        if (instruction && instruction.renvois.length>0)
          each renvoi in instruction.renvois
            .row
              .col-sm-offset-1.col-sm-9
                p Renvoyé au #{moment(renvoi.r_date).format("DD-MM-YYYY")} pour Motif: #{renvoi.r_motif}
      hr
  .form-group
    label.col-sm-3.control-label
      | Nouveau Renvoi :
    .col-sm-8
      .row
        .col-md-4(style='padding-right: 10px')
          span.input-icon
            input#date_ins.form-control.date-picker(placeholder='Date', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years')
            br.hidden-lg.hidden-md.hidden-sm
            i.fa.fa-calendar
        .col-md-8(style='padding-left: 0px; padding-right: 0px;')
          .input-group
            span.input-icon
              input#motif_ins.form-control(type='text', placeholder='Motif')
              i.fa.fa-quote-left
            a#renvoi_instance.btn.input-group-addon.btn-dark-beige(onclick='get_renvoi_infos("#{dossier._id}")')
              span.fa.fa-check
  .form-group
    label.col-sm-3.control-label
      | Délibéré :
    .col-sm-8
      if (instruction && instruction.decision)
        textarea.form-control(name='decision', placeholder='Délibéré', cols='30', rows='7' readonly)
          | #{instruction.decision}
      else
        textarea.form-control(name='decision', placeholder='Délibéré', cols='30', rows='7')
  .form-group
    .col-sm-offset-8.col-sm-3.text-center
      if (i_instance[0])
        input.btn.btn-dark-azure(type='button', onclick='save_decision("#{dossier._id}","#{instruction._id}")' , value='Sauvegarde du Délibéré')
        
        
        
        
        
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  mixin tab_contenu
    .form-group
      label.col-sm-3.control-label
        | Juriduction :
      .col-sm-8
        select.form-control.search-select(name='juridiction' onchange='confirm_new_juridiction(this,"#{dossier.id.toString()}")')
          if (j_instance)
            // rajouter dans les options la valeur sélectionnée
            each j in j_instance
              if(i_instance[0])
                option(value=juridiction._id, selected=(j._id == i_instance[0].juridiction._id.toString())) #{j.nom}
              else
                option(value=j._id) #{j.nom}
            if (!i_instance[0])
              option(value=null selected = true)

    .form-group
      label.col-sm-3.control-label
        | Calendrier d'instruction
        br
        |  ou de mise en état :
      .col-sm-8(style='margin-top: 20px;')
        a#renseigner_mide_en_etat.btn.btn-dark-purple.show-calendar(href='#calendrierMiseEtat' ) Voir / Renseigner
    .form-group
      label.col-sm-3.control-label
        | Dilligences :
      .col-sm-8
        a#renseigner_diligence.btn.btn-dark-blue.show-calendar(href='#dilligence' ) Voir / Renseigner
    mixin bloc_renvoi_instance
      h3 Renvois
      hr
      #liste_renvoi_ins.form-group
        if block
          block
      hr
    if (i_instance[0])
      #bloc_renvoi_ins(class=(i_instance[0].renvois.length>0) ? '' : 'hidden' )
        +bloc_renvoi_instance
          each renvoi in i_instance[0].renvois
            .row
              .col-sm-offset-1.col-sm-9
                p Renvoyé au #{moment(renvoi.r_date).format("DD-MM-YYYY")} pour Motif: #{renvoi.r_motif}
    else
      #bloc_renvoi_ins(class='hidden' )
        +bloc_renvoi_instance
    .form-group
      label.col-sm-3.control-label
        | Nouveau Renvoi :
      .col-sm-8
        .row
          .col-md-4(style='padding-right: 10px')
            span.input-icon
              input#date_ins.form-control.date-picker(placeholder='Date', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years')
              br.hidden-lg.hidden-md.hidden-sm
              i.fa.fa-calendar
          .col-md-8(style='padding-left: 0px; padding-right: 0px;')
            .input-group
              span.input-icon
                input#motif_ins.form-control(type='text', placeholder='Motif')
                i.fa.fa-quote-left
              a#renvoi_instance.btn.input-group-addon.btn-dark-beige(onclick='get_renvoi_infos("#{dossier._id}")')
                span.fa.fa-check
    .form-group
      label.col-sm-3.control-label
        | Délibéré :
      .col-sm-8
        if (i_instance[0] && i_instance[0].decision)
          textarea.form-control(name='decision', placeholder='Délibéré', cols='30', rows='7' readonly)
            | #{i_instance[0].decision}
        else
          textarea.form-control(name='decision', placeholder='Délibéré', cols='30', rows='7')
    .form-group
      .col-sm-offset-8.col-sm-3.text-center
        if (i_instance[0])
          input.btn.btn-dark-azure(type='button', onclick='save_decision("#{dossier._id}","#{i_instance[0]._id}")' , value='Sauvegarde d Délibéré')