extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li.active
          a(href='/')
            | Accueil
  // end: BREADCRUMB
  // start: PAGE CONTENT
  .row
    .col-sm-12
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Profil 
            span.text-bold utilisateur
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Cacher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualiser
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
            // <a class="btn btn-xs btn-link panel-close" href="#"> <i class="fa fa-times"></i> </a>
        .panel-body
          .row
            .col-sm-5.col-md-4
              .user-left
                .center
                  h4 #{utilisateur.prenom} #{utilisateur.nom}
                  .fileupload.fileupload-new(data-provides='fileupload')
                    .user-image
                      .fileupload-new.thumbnail
                        img#image-preview(src='#{utilisateur.avatar}', alt='')
                      .fileupload-preview.fileupload-exists.thumbnail
                      //.user-image-buttons
                        span.btn.btn-azure.btn-file.btn-sm
                          span.fileupload-new
                            i.fa.fa-pencil
                          span.fileupload-exists
                            i.fa.fa-pencil
                          //input(type='file' onchange='save_profile_image()')
                          input#file-upload(type='file', name='avatar' onchange='uploadavatar(this.files[0],"#{utilisateur._id}")' accept='image/jpeg, image/png' enctype='multipart/form-data')
                        a.btn.fileupload-exists.btn-red.btn-sm(href='#', data-dismiss='fileupload')
                          i.fa.fa-times
                  hr
                table.table.table-condensed.table-hover
                  thead
                    tr
                      th(colspan='')  Contact
                      th.text-right
                        a.show-calendar(href='#runEditer').btn.btn-azure.btn-file.btn-sm.hidden-xs
                          span.fileupload-new
                            | Modifier mes infos 
                            i.fa.fa-pencil
                  tbody
                    tr
                      td(colspan='') Email:
                      td.text-right
                        a(href='')
                          | #{utilisateur.email}
                      //td
                        a.show-calendar(href='#runEditer')
                          i.fa.fa-pencil.edit-user-info
                    tr
                      td Téléphone:
                      td.text-right #{utilisateur.telephone}
                      //td
                        a.show-calendar(href='#runEditer')
                          i.fa.fa-pencil.edit-user-info
                table.table.table-condensed.table-hover
                  thead
                    tr
                      th(colspan='3') Informations Générales
                  tbody
                    tr
                      td Qualité
                      td.text-right
                        span.label.label-sm.label-info #{utilisateur.profil.nom_profil}
                      //td
                        a.show-calendar(href='#runEditer')
                          i.fa.fa-pencil.edit-user-info
                    tr
                      td Idenfiant
                      td.text-right #{utilisateur.pseudo}
                      //td
                        a.show-calendar(href='#runEditer')
                          i.fa.fa-pencil.edit-user-info
            .col-sm-7.col-md-8
              //
                <p>
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas convallis porta purus, pulvinar mattis nulla tempus ut. Curabitur quis dui orci. Ut nisi dolor, dignissim a aliquet quis, vulputate id dui. Proin ultrices ultrices ligula, dictum varius turpis faucibus non. Curabitur faucibus ultrices nunc, nec aliquet leo tempor cursus.
                </p>
              .row.space20.hidden-xs
                .col-sm-4
                  a.show-calendar(href='#runDossier')
                    button.btn.btn-icon.btn-block
                      i.clip-clip
                      | 														Dossiers en cours 
                      span.badge.badge-info  #{nb_dossiers} 
                  br.hidden-lg.hidden-md.hidden-sm
                .col-sm-4
                  a.show-calendar(href='/agenda/audiencier')
                    button.btn.btn-icon.btn-block
                      i.clip-list-3
                      | 														Audiences 
                      //span.badge.badge-info  9 
                  br.hidden-lg.hidden-md.hidden-sm
                  br.hidden-lg.hidden-md.hidden-sm
                .col-sm-4
                  a.show-calendar(href='#runRDV')
                    button.btn.btn-icon.btn-block
                      i.clip-list-3
                      | 														Rendez-vous 
                      //span.badge.badge-info  9 
                  br.hidden-lg.hidden-md.hidden-sm
    // end: PAGE CONTENT
    // Modal for current page
  .hidden
    #runEditer
      .noteWrap.col-md-10.col-md-offset-1
        br
        form#form(action='#', role='form')
          .row
            .col-md-12
              h3 Informations du compte
              hr
            .col-md-4
              .form-group
                label.control-label
                  | Prenom
                label#m_firstname.form-control(type='text', placeholder='Prenom', name='lastname') 
                  if (utilisateur.prenom) 
                    | #{utilisateur.prenom}
              .form-group
                label.control-label
                  | Email
                input#m_email.form-control(type='email', placeholder='ex@example.com', name='email', value=(utilisateur.email) ? utilisateur.email : '' )
              .form-group
                label.control-label
                  | Mot de passe
                input#m_password.form-control(type='text', placeholder='Mot de passe', name='password', value= '' )
            .col-md-4
              .form-group
                label.control-label
                  | Nom
                label#m_lastname.form-control(type='text', placeholder='Nom', name='Nom')
                  if (utilisateur.nom)
                    | #{utilisateur.nom}
              .form-group
                label.control-label
                  | Téléphone
                input#m_phone.form-control(type='Number', placeholder='__ __ __ __', name='telephone', value=(utilisateur.telephone) ? utilisateur.telephone : '' )
              .form-group
                label.control-label
                  | Confirmation du mot de passe
                input#m_password_again.form-control(type='text', placeholder='Confirmer votre mot de passe', name='password_again')
            .col-md-4
              
              
              .form-group
                label
                  | Photo de profil
                
                .fileupload.fileupload-new(data-provides='fileupload')
                    .user-image
                      .fileupload-new.thumbnail
                        img#image-preview(src='#{utilisateur.avatar}', alt='')
                      .fileupload-preview.fileupload-exists.thumbnail
                      .user-image-buttons
                        span.btn.btn-azure.btn-file.btn-sm
                          span.fileupload-new
                            i.fa.fa-pencil
                          span.fileupload-exists
                            i.fa.fa-pencil
                          //input(type='file' onchange='save_profile_image()')
                          input#file-upload(type='file', name='avatar' onchange='uploadavatar(this.files[0],"#{utilisateur._id}")' accept='image/jpeg, image/png' enctype='multipart/form-data')
                        a.btn.fileupload-exists.btn-red.btn-sm(href='#', data-dismiss='fileupload')
                          i.fa.fa-times
          .row
            .col-md-8.col-sm-8
              p
                | En cliquant sur MISE À JOUR, vous acceptez la politique & les conditions d'utilisation.
            .col-md-4.col-sm-4
              - var donnees = JSON.stringify(utilisateur);
              a.btn.btn-green.btn-block(onclick='update_user_infos(#{donnees})')
                | Mise à jour 
                i.fa.fa-arrow-circle-right
    #runDossier
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Dossiers en cours
        br
        table#projects.table.table-striped.table-bordered.table-hover
          thead
            tr
              th N°
              th Réf.
              th Parties
              th Statut
              th.hidden-xs Dilligences
              // <th class="hidden-xs center">Priortity</th>
              //th Delais
          tbody
            - var i = 0
            each element in mes_dossiers
              - i++
              mixin row_dossier
                tr
                  td.center.hidden-xs
                    | !{i}
                    //.checkbox-table
                      label
                        input.flat-grey.foocheck(type='checkbox')
                  td #{element.dossier.ref_d}
                  td
                    if block
                      block
                  td 
                    if (element.instruction && element.instruction.renvois && element.instruction.renvois.length > 0)
                      | #{moment(element.instruction.renvois[element.instruction.renvois.length-1].r_date).format('DD-MM-YYYY')}
                  td
                    if (element.instruction && element.instruction.diligence && element.instruction.diligence.length > 0)
                      | #{moment(element.instruction.diligence[element.instruction.diligence.length-1].d_fin).format('DD-MM-YYYY')}
                  //td.center.hidden-xs
                    span.label.label-danger Critical
              if(element.dossier.pour && element.dossier.contre && element.dossier.pour.p_type == 'pp' && element.dossier.contre.c_type == 'pp')
                +row_dossier
                  a(class='button' href='/dossiers/dossier/#{element.dossier.id}') #{element.dossier.pour.pp.p_prenom} #{element.dossier.pour.pp.p_nom} c/ #{element.dossier.contre.pp.c_prenom} #{element.dossier.contre.pp.c_nom}
              if(element.dossier.pour && element.dossier.contre && element.dossier.pour.p_type == 'pp' && element.dossier.contre.c_type == 'pm')
                +row_dossier
                  a(class='button' href='/dossiers/dossier/#{element.dossier.id}') #{element.dossier.pour.pp.p_prenom} #{element.dossier.pour.pp.p_nom} c/ #{element.dossier.contre.pm.c_denomination}
              if(element.dossier.pour && element.dossier.contre && element.dossier.pour.p_type == 'pm' && element.dossier.contre.c_type == 'pp')
                +row_dossier
                  a(class='button' href='/dossiers/dossier/#{element.dossier.id}') #{element.dossier.pour.pm.p_denomination} c/ #{element.dossier.contre.pp.c_prenom} #{element.dossier.contre.pp.c_nom}
              if(element.dossier.pour && element.dossier.contre && element.dossier.pour.p_type == 'pm' && element.dossier.contre.c_type == 'pm')
                +row_dossier
                  a(class='button' href='/dossiers/dossier/#{element.dossier.id}') #{element.dossier.pour.pm.p_denomination} c/ #{element.dossier.contre.pm.c_denomination}
    #runMail
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Mails
        br
    #runTchat
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Discussion instantanée
        br
    #runAudience
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Audiences en cours
        br
        #calendar
    #runDilligence
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Ephéméride
        br
        #calendar
    #runRDV
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Rendez-vous
        br
        table#projects.table.table-striped.table-bordered.table-hover
          thead
            tr
              th #
              th Nom & Prenom
              th Motif
              th Date
              th
          tbody
            tr
              td 1
              td Sofiane Abdou Garba
              td Rencontrer avocat
              td 21/01/2019 à 15h30
              td.center
                .visible-md.visible-lg.hidden-sm.hidden-xs
                  a.btn.btn-light-blue.tooltips(href='#', data-placement='top', data-original-title='Edit')
                    i.fa.fa-edit
                  a.btn.btn-green.tooltips(href='#', data-placement='top', data-original-title='Share')
                    i.fa.fa-share
                  a.btn.btn-red.tooltips(href='#', data-placement='top', data-original-title='Remove')
                    i.fa.fa-times.fa.fa-white
                .visible-xs.visible-sm.hidden-md.hidden-lg
                  .btn-group
                    a.btn.btn-green.dropdown-toggle.btn-sm(data-toggle='dropdown', href='#')
                      i.fa.fa-cog
                      span.caret
                    ul.dropdown-menu.dropdown-dark.pull-right(role='menu')
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#')
                          i.fa.fa-edit
                          |  Edit
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#')
                          i.fa.fa-share
                          |  Share
                      li(role='presentation')
                        a(role='menuitem', tabindex='-1', href='#')
                          i.fa.fa-times
                          |  Remove
append jscripts
  script(src='/javascripts/utilisateur_update.js')
  //script(type='text/javascript', src='/javascripts/cloudinary/jquery.min.js')
  script(type='text/javascript', src='/javascripts/cloudinary/jquery.ui.widget.js')
  script(type='text/javascript', src='/javascripts/cloudinary/jquery.iframe-transport.js')
  script(type='text/javascript', src='/javascripts/cloudinary/jquery.fileupload.js')
  script(type='text/javascript', src='/javascripts/cloudinary/jquery.cloudinary.js')  
  //script(src='https://unpkg.com/axios/dist/axios.min.js')
