extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
          | #{title}
  .row
    .col-md-12
      // start: DYNAMIC TABLE PANEL
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | #{title}
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Cacher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualiser
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
            //
              <a class="btn btn-xs btn-link panel-close" href="#">
              <i class="fa fa-times"></i>
              </a>
        .panel-body
          .row(style='margin-bottom: 20px;')
            .col-md-6.space20
              .btn-group.pull-left
                a#addUserbtn.btn.btn-green.show-calendar(href='#addUser' onclick='get_profil_list()')
                  i.fa.fa-plus
                  |  Nouvel utilisateur 
                  i.fa.fa-user
            .col-md-6
              .btn-group.pull-right
                button.btn.btn-green.dropdown-toggle(data-toggle='dropdown')
                  | Exporter 
                  i.fa.fa-angle-down
                ul.dropdown-menu.dropdown-light.pull-right
                  li
                    a.export-pdf(href='#', data-table='#sample-table-2', data-ignorecolumn='3,4')
                      | Expoter en 
                      span.text-bold PDF
                  li
                    a.export-excel(href='#', data-table='#sample-table-2', data-ignorecolumn='3,4')
                      | Expoter en 
                      span.text-bold EXCEL
                  li
                    a.export-doc(href='#', data-table='#sample-table-2', data-ignorecolumn='3,4')
                      | Expoter en 
                      span.text-bold WORD
          .table-responsive
            table#sample-table-2.table.table-striped.table-hover
              thead
                tr
                  th Nom & prenom
                  th Contact
                  th Email
                  th Profil
                  th Actions
              tbody
                each utilisateur in list_utilisateurs
                  tr
                    th #{utilisateur.prenom} #{utilisateur.nom}
                    th #{utilisateur.telephone}
                    th #{utilisateur.email}
                    th #{utilisateur.profil.nom_profil}
                    th 
              
append jscripts
  script(src='/javascripts/utilisateur-js.js')