extends ../layout
append styles
  link(rel='stylesheet', href='/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
  link(rel='stylesheet', href='/assets/plugins/select2/select2.css')
  link(rel='stylesheet', href='/assets/plugins/datepicker/css/datepicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css')
  link(rel='stylesheet', href='/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css')

  link(rel='stylesheet', href='/assets/plugins/sweetalert/lib/sweet-alert.css')
  link(rel='stylesheet', href='/assets/plugins/dropzone/downloads/css/dropzone.css')
  link(rel='stylesheet', href='/assets/css/print.css', type='text/css', media='print')
  link(rel='stylesheet', href='/stylesheets/style.css')

block content
  
  - function formatBytes(a,b){if(0==a)return"0 Bytes";var c=1024,d=b||2,e=["Bytes","KB","MB","GB","TB","PB","EB","ZB","YB"],f=Math.floor(Math.log(a)/Math.log(c));return parseFloat((a/Math.pow(c,f)).toFixed(d))+" "+e[f]};
  - function checkURL(url) { return(url.match(/\.(jpeg|jpg|gif|png)$/) != null); };
  input.hidden#id_dossier(value=dossier._id disabled)
  if (i_instance[0] && !i_appel[0] && !i_cour[0])
    input.hidden#id_instruction(value=(i_instance[0]._id) disabled)
  else if (i_appel[0] && !i_cour[0])
    input.hidden#id_instruction(value=(i_appel[0]._id) disabled)
  else if (i_cour[0])
    input.hidden#id_instruction(value=(i_cour[0]._id) disabled)
  else
    input.hidden#id_instruction(value='' disabled)
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
          | Dossier
        li.active
          | #{title}
  // end: BREADCRUMB
  // start: PAGE CONTENT
  .form-horizontal
    .row
      .col-md-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Gestion du dossier
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.collapses(href='#')
                      i.fa.fa-angle-up
                      span Cacher
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.buttons-widget
            .row
              .col-md-12
                form(method='POST', action='')
                  .form-group
                    label.col-sm-12.dos-text
                      | Réf. : #{dossier.ref_d}
                  .form-group
                    label.col-sm-9.dos-text
                      if dossier.pour.p_type == 'pp'
                        | Pour : #{dossier.pour.pp.p_prenom} #{dossier.pour.pp.p_nom}
                      else if dossier.pour.p_type == 'pm'
                        | Pour: #{dossier.pour.pm.p_denomination}
                    .col-sm-3
                      a.btn.btn-link.show-calendar(href='#infoPour')
                        span.fa.fa-plus  d'infos
                  .form-group
                    label.col-sm-9.dos-text
                      if dossier.contre.c_type == 'pp'
                        | Contre : #{dossier.contre.pp.p_prenom} #{dossier.contre.pp.c_nom}
                      else if dossier.contre.c_type == 'pm'
                        | Contre: #{dossier.contre.pm.c_denomination}
                    .col-sm-3
                      a.btn.btn-link.show-calendar(href='#infoContre')
                        span.fa.fa-plus  d'infos
                  .form-group
                    if(utilisateurs)
                      label.col-sm-3.dos-text
                        | Attributaire : 
                      .col-sm-8
                        if (dossier.attributaire)
                          select.form-control(name='attributaire', disabled=true)
                            each utilisateur in utilisateurs 
                              option(value=utilisateur._id.toString(), selected=(utilisateur._id.toString()==dossier.attributaire.id) ) #{utilisateur.prenom} #{utilisateur.nom}
                        else
                          select.form-control(name='attributaire')
                            option(value=null)
                            each utilisateur in utilisateurs
                              option(value=utilisateur._id.toString()) #{utilisateur.prenom} #{utilisateur.nom}
                    else
                      select.form-control(name='attributaire')
                        option(value='null') Veuillez ajouter un utilisateur
                  .form-group
                    label.col-sm-3.dos-text
                      | Nature de litige :
                    .col-sm-8
                      if (dossier.litige)
                        select.form-control(name='litige', disabled=true)
                          option(value=value='#{dossier.litige}', selected='#{dossier.litige}') #{dossier.litige}
                          option(value='Civile et commerciale') Civile et commerciale
                          option(value='Sociale') Sociale
                          option(value='Pénale') Pénale
                          option(value='Administratif') Administratif
                          opion(value='Electorale') Electorale
                          option(value='Constitutionnelle') Constitutionnelle
                      else
                        select.form-control(name='litige')
                          option(disabled='', selected='', value='') Selectionner la nature du litige
                          option(value='Civile et commerciale') Civile et commerciale
                          option(value='Sociale') Sociale
                          option(value='Pénale') Pénale
                          option(value='Administratif') Administratif
                          opion(value='Electorale') Electorale
                          option(value='Constitutionnelle') Constitutionnelle
                  .form-group
                    label.col-sm-3.dos-text
                      | Montant de l'enjeu :
                    .col-sm-5
                      if (dossier.montant)
                        input.form-control.readonly(type='text', name='montant' value='#{dossier.montant}', readonly=true)
                      else 
                        input.form-control(type='text', name='montant')
                    .col-sm-4
                      if (dossier.nature)
                        .col-sm-9.nature
                          input.form-control.readonly(type='text', name='nature' value='#{dossier.nature}', readonly=true)
                        label.radio-inline.nature.hidden
                          input.grey(type='radio', value='gain', name='nature', checked=('gain'==dossier.nature))
                          | Gain
                        label.radio-inline.nature.hidden
                          ///*name='optionsRadios'*/
                          input.grey(type='radio', value='perte', name='nature',checked=('perte'==dossier.nature))
                          | Perte
                      else
                        label.radio-inline
                          input.grey(type='radio', value='gain', name='nature')
                          | Gain
                        label.radio-inline
                          ///*name='optionsRadios'*/
                          input.grey(type='radio', value='perte', name='nature')
                          | Perte
                  .form-group
                    label.col-sm-3.ods-text
                      | Résumé du litige :
                    .col-sm-8
                      if (dossier.resume)
                        textarea.form-control(name='resume', placeholder='Résumé du litige', cols='30', rows='10', readonly=true)
                          | #{dossier.resume}
                      else
                        textarea.form-control(name='resume', placeholder='Résumé du litige', cols='30', rows='10')
                  .form-group
                    .col-sm-offset-8.col-sm-3.text-center
                      if (!dossier.attributaire && !dossier.montant && !dossier.nature && !dossier.resume)
                        a.btn.btn-dark-azure(onclick='update_dossier("#{dossier._id}")') Sauvegarder
                      else
                        .modifier_ou_sauvegarder
                          a.btn.btn-dark-yellow(onclick='autoriser_modif()') Modifier
                        .modifier_ou_sauvegarder.hidden
                          a.btn.btn-dark-azure(onclick='update_dossier("#{dossier._id}")') Sauvegarder
                      //a.button#search.btn.btn-dark-azure Sauvegarder
            
      .col-sm-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Instruction du dossier
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.collapses(href='#')
                      i.fa.fa-angle-up
                      span Cacher
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.buttons-widget
            .tabbable
              ul.nav.nav-tabs
                li.active
                  a(href='#consultation', data-toggle='tab')
                    | Consutation
                li
                  a(href='#enquete', data-toggle='tab')
                    | Enquête préliminaire
                li
                  a(href='#chambre', data-toggle='tab')
                    | Chambre d'instruction
                li
                  a(href='#jugement', data-toggle='tab')
                    | Jugement
              .tab-content
                #consultation.tab-pane.fade.in.active
                  .row
                    .col-md-12
                      .col-md-2
                        label.control-label.text-center.text-bold Du
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2
                        label.control-label.text-bold Au
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2.text-bold
                        label.control-label.text-bold(for='') À
                        input.form-control.time-picker.popovers(name='', type='time', data-original-title='', data-content='Chiffre', data-placement='top', data-trigger='hover', onkeyup="this.value=this.value.replace(/\D/g,\'\')")
                      .col-md-5
                        label.control-label.text-bold Texte
                        textarea.form-control(name='', placeholder='Texte')
                      .col-md-1
                        label.control-label.text-bold Valider
                        a.btn.btn-dark-beige.margin-rigth-10
                          span.fa.fa-check
                #enquete.tab-pane.fade
                  .row
                    .col-md-12
                      .form-group
                        label.col-sm-3.control-label(for='form-field-1')
                          | Juridiction :
                        .col-sm-8
                          #niveau.hidden
                            label#niveau_val.control-label.text-bold.text-center.text-capitalize
                          select.form-control.search-select
                            option(disabled='', selected='', value='')  Selectionner un degré d'instruction 
                            option(value='1')  TGIHC
                            option(value='2')  TGI
                            option(value='3')  TI
                  br
                  .row
                    .col-md-12
                      .col-md-2
                        label.control-label.text-center.text-bold Du
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2
                        label.control-label.text-bold Au
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2.text-bold
                        label.control-label.text-bold(for='') À
                        input.form-control.time-picker.popovers(name='', type='time', data-original-title='', data-content='Chiffre', data-placement='top', data-trigger='hover', onkeyup="this.value=this.value.replace(/\D/g,\'\')")
                      .col-md-5
                        label.control-label.text-bold Texte
                        textarea.form-control(name='', placeholder='Texte')
                      .col-md-1
                        label.control-label.text-bold Valider
                        a.btn.btn-dark-beige.margin-rigth-10
                          span.fa.fa-check
                #chambre.tab-pane.fade
                  mixin phase_contenu()
                    .row
                      .col-md-12
                        .form-group
                          label.col-sm-3.control-label(for='form-field-1')
                            | Juridiction :
                          .col-sm-8
                            #niveau.hidden
                              label#niveau_val.control-label.text-bold.text-center.text-capitalize
                            select.form-control.search-select
                              option(disabled='', selected='', value='')  Selectionner un degré d'instruction 
                              option(value='1')  TGIHC
                              option(value='2')  TGI
                              option(value='3')  TI
                    br
                    .row
                      .col-md-2
                        label.control-label.text-center.text-bold Du
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2
                        label.control-label.text-bold Au
                        input.form-control.date-picker(name='', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years', placeholder='Saisir une date')
                      .col-md-2.text-bold
                        label.control-label.text-bold(for='') À
                        input.form-control.time-picker.popovers(name='', type='time', data-original-title='', data-content='Chiffre', data-placement='top', data-trigger='hover', onkeyup="this.value=this.value.replace(/\D/g,\'\')")
                      .col-md-5
                        label.control-label.text-bold Texte
                        textarea.form-control(name='', placeholder='Texte')
                      .col-md-1(style='margin-left:0')
                        label.control-label.text-bold Valider
                        a.btn.btn-dark-beige.margin-rigth-10
                          span.fa.fa-check
                  .buttons-widget
                    .tabbable.tabs-below
                      .tab-content
                        #instance.tab-pane.fade.in.active
                          +phase_contenu()
                        #appel.tab-pane.fade
                          +phase_contenu()
                        #cassation.tab-pane.fade
                          +phase_contenu()
                      ul.nav.nav-tabs
                        li.active
                          a(href='#instance', data-toggle='tab')
                            | Instance
                        li
                          a(href='#appel', data-toggle='tab')
                            | Appel
                        li
                          a(href='#cassation', data-toggle='tab')
                            | Cassation
                #jugement.tab-pane.fade
                  mixin tab_contenu(instruction, juridiction, division)
                    .form-group
                      label.col-sm-3.control-label
                        | Juriduction :
                      .col-sm-8
                        if(instruction && instruction.renvois && instruction.renvois.length>0)
                          .dropdown-wrapper
                            select.form-control(name='juridiction', id='juridiction_#{division}', readonly)
                              option(value=instruction.juridiction._id) #{instruction.juridiction.nom}
                        else
                          select.form-control.search-select(name='juridiction', id='juridiction_#{division}', onchange='confirm_new_juridiction(this,"#{dossier.id.toString()}", "#{division}")')
                            if (juridiction)
                              // rajouter dans les options la valeur sélectionnée
                              each j in juridiction
                                option(value=j._id, selected=((instruction && j._id == instruction.juridiction._id.toString()))) #{j.nom}
                              if (!instruction)
                                option(value=null selected = true)
                    if (instruction && (!instruction.decision || instruction.decision == '')) 
                      .form-group
                        label.col-sm-3.control-label
                          | Calendrier d'instruction
                          br
                          |  ou de mise en état :
                        .col-sm-8(style='margin-top: 20px;')
                          a#renseigner_mide_en_etat.btn.btn-dark-purple.show-calendar(href='#calendrierMiseEtat') Voir / Renseigner
                      .form-group
                        label.col-sm-3.control-label
                          | Dilligences :
                        .col-sm-8
                          a#renseigner_diligence.btn.btn-dark-blue.show-calendar(href='#dilligence') Voir / Renseigner  
                    div(id='bloc_renvoi_ins_#{division}' class=(instruction && instruction.renvois.length>0) ? '' : 'hidden' )
                      h3 Renvois
                      hr
                      .form-group(id='liste_renvoi_ins_#{division}')
                        if (instruction && instruction.renvois.length>0 && instruction.juridiction.division == division)
                          each renvoi in instruction.renvois
                            .row
                              .col-sm-offset-1.col-sm-9
                                p Renvoyé au #{moment(renvoi.r_date).format("DD-MM-YYYY")} (#{renvoi.r_type}) pour #{renvoi.r_motif}
                      hr
                    if (!(instruction && instruction.decision && instruction.decision != '' && instruction.juridiction.division == division))
                      .form-group
                        label.col-sm-2.control-label
                          | Renvoi :
                        .col-sm-10
                          .row
                            .col-md-4(style='padding-right: 10px')
                              span.input-icon
                                input.form-control.date-picker(id='date_ins_#{division}' placeholder='Date', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years' onchange='verifDate(this)')
                                br.hidden-lg.hidden-md.hidden-sm
                                i.fa.fa-calendar
                            .col-md-2(style='padding:0')
                              select.form-control(id='type_ins_#{division}')
                                option(disabled='', selected='', value='') Types
                                option(value='renvoi simple') R.
                                option(value='renvoi ferme') RF.
                                option(value='renvoi au role general') RRG.
                                option(value='renvoi d\'office') RO
                                opion(value='non appele') NO
                                option(value='mise en delibere') D.
                                option(value='renvoi d\'office') RO
                                opion(value='rabat de delibere puis renvoi') DRR.
                                option(value='delibere vide') D. OK
                            .col-md-6
                              .input-group
                                span.input-icon
                                  input.form-control(id='motif_ins_#{division}', type='text', placeholder='Motif')
                                  i.fa.fa-quote-left
                                if(instruction && (!instruction.decision || instruction.decision == ''))
                                  a.btn.input-group-addon.btn-dark-beige(onclick='get_renvoi_infos("#{dossier._id}", "#{division}")')
                                    span.fa.fa-check
                    if (instruction && instruction.decision && instruction.decision != '' && instruction.juridiction.division == division)
                      .form-group
                        .col-sm-12
                          textarea.form-control(name='decision', id='decision_#{division}', placeholder='Délibéré', cols='30', rows='7' readonly)
                            | #{instruction.decision}
                    else
                      .form-group
                        label.col-sm-3.control-label
                          | Délibéré :
                        .col-sm-9
                          textarea.form-control(name='decision', id='decision_#{division}', placeholder='', cols='30', rows='7')
                    if (instruction && (!instruction.decision || instruction.decision == '') && instruction.juridiction.division == division)
                      .form-group
                        .col-sm-offset-2.col-sm-4
                          label.radio-inline
                            input.grey(type='radio', value='gagner', name='resultat')
                            | Gain de cause
                          label.radio-inline
                            ///*name='optionsRadios'*/
                            input.grey(type='radio', value='perdre', name='resultat')
                            | Condamnation
                      .form-group  
                        .col-sm-offset-1.col-sm-3.text-center
                          input.btn.btn-dark-azure(type='button', onclick='save_decision("#{dossier._id}","#{instruction._id}","#{division}")' , value='Sauvegarde du Délibéré')
          
                  .buttons-widget
                    .tabbable.tabs-below
                      .tab-content
                        #myTab5_instance.tab-pane.fade(class = ((i_appel.length > 0 || i_cour.length >0) ? '' : 'in active'))
                          +tab_contenu(i_instance[0], j_instance, 'instance')
                        #myTab5_appel.tab-pane.fade(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'in active' : ''))
                          +tab_contenu(i_appel[0], j_appel, 'appel')
                        #myTab5_cour.tab-pane.fade(class = (i_cour.length > 0 ? 'in active' : ''))
                          +tab_contenu(i_cour[0], j_cour, 'cour')
                      ul#myTab5.nav.nav-tabs
                        li(class = ((i_appel.length > 0 || i_cour.length >0) ? '' : 'active'))
                          a(href='#myTab5_instance', data-toggle='tab')
                            | Instance
                        li(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'active' : ''))
                          a(href='#myTab5_appel', data-toggle='tab')
                            | Appel
                        li(class = (i_cour.length > 0 ? 'active' : ''))
                          a(href='#myTab5_cour', data-toggle='tab')
                            | Cassation  
                        
    .row
      .col-sm-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              | Pièces 
              span.text-bold Formes
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.expand(href='#')
                      i.fa.fa-angle-down
                      span Ouvrir
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.cacher
            form.fileupload#pieces-formes(action='', method='POST', enctype='multipart/form-data')
              // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
              .row.fileupload-buttonbar
                .col-lg-12.col-md-12.col-sm-12
                  // The fileinput-button span is used to style the file input field as button
                  span.btn.btn-success.fileinput-button(style='margin: 0 5px;')
                    i.glyphicon.glyphicon-plus
                    span  Ajouter des fichiers
                    input(type='file', name='files[]', multiple='')
                  button.btn.btn-primary.start(type='submit' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-upload
                    span  Télécharger
                  button.btn.btn-warning.cancel(type='reset' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-ban-circle
                    span  Annuler
                  button.btn.btn-danger.delete(type='button' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-trash
                    span  Supprimer
                  // The loading indicator is shown during file processing
                  span.fileupload-loading
                // The global progress information
                .col-lg-5.fileupload-progress.fade
                  // The global progress bar
                  .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                    .progress-bar.progress-bar-success(style='width:0%;')
                  // The extended global progress information
                  .progress-extended
              // The table listing the files available for upload/download
              table.table.table-striped(role='presentation')
                tbody.files
                  if (dossier.pieces && dossier.pieces.pieces_formes)
                    each file in dossier.pieces.pieces_formes
                      tr.template-download.fade.in
                        td
                          span.preview
                          if (file.piece_url && checkURL(file.piece_url) == false)
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              iframe(src=file.piece_url, width='80', height='80', scrolling='no')
                          else
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              img(src=file.piece_url, width='80', height='80', scrolling='no')
                        td
                          p.name
                          if (file.piece_url)
                            a(href=file.piece_url, title=file.originalname, download=file.originalname ) #{file.originalname}
                          else
                            span #{file.originalname}
                          if file.error
                            span.label.label-danger Error
                              | #{file.error}
                        td
                          span.size #{formatBytes(file.size,2)}
                        td
                          if (file.deleteUrl)
                            button.btn.btn-danger.delete(data-type='POST', data-url=file.deleteUrl)
                              i.glyphicon.glyphicon-trash
                              span  Supprimer
                            input.toggle(type='checkbox', name='delete', value='1')
                          else
                            button.btn.btn-warning.cancel
                              i.glyphicon.glyphicon-ban-circle
                              span  Annuler
      .col-sm-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              | Pièces 
              span.text-bold Fonds
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.expand(href='#')
                      i.fa.fa-angle-down
                      span Ouvrir
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.cacher
            form.fileupload#pieces-fonds(action='//jquery-file-upload.appspot.com/', method='POST', enctype='multipart/form-data')
              // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
              .row.fileupload-buttonbar
                .col-lg-12.col-md-12.col-sm-12
                  // The fileinput-button span is used to style the file input field as button
                  span.btn.btn-success.fileinput-button(style='margin: 0 5px;')
                    i.glyphicon.glyphicon-plus
                    span  Ajouter des fichiers
                    input(type='file', name='files[]', multiple='')
                  button.btn.btn-primary.start(type='submit' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-upload
                    span  Télécharger
                  button.btn.btn-warning.cancel(type='reset' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-ban-circle
                    span  Annuler
                  button.btn.btn-danger.delete(type='button' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-trash
                    span  Supprimer
                  // The loading indicator is shown during file processing
                  span.fileupload-loading
                // The global progress information
                .col-lg-5.fileupload-progress.fade
                  // The global progress bar
                  .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                    .progress-bar.progress-bar-success(style='width:0%;')
                  // The extended global progress information
                  .progress-extended
              // The table listing the files available for upload/download
              table.table.table-striped(role='presentation')
                tbody.files
                  if (dossier.pieces && dossier.pieces.pieces_fonds)
                    each file in dossier.pieces.pieces_fonds
                      tr.template-download.fade.in
                        td
                          span.preview
                          if (file.piece_url && checkURL(file.piece_url) == false)
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              iframe(src=file.piece_url, width='80', height='80', scrolling='no')
                          else
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              img(src=file.piece_url, width='80', height='80', scrolling='no')
                        td
                          p.name
                          if (file.piece_url)
                            a(href=file.piece_url, title=file.originalname, download=file.originalname ) #{file.originalname}
                          else
                            span #{file.originalname}
                          if file.error
                            span.label.label-danger Error
                              | #{file.error}
                        td
                          span.size #{file.size}
                        td
                          if (file.deleteUrl)
                            button.btn.btn-danger.delete(data-type='POST', data-url=file.deleteUrl)
                              i.glyphicon.glyphicon-trash
                              span  Supprimer
                            input.toggle(type='checkbox', name='delete', value='1')
                          else
                            button.btn.btn-warning.cancel
                              i.glyphicon.glyphicon-ban-circle
                              span  Annuler
    .row
      .col-sm-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              | Ecritures 
              span.text-bold Reçues
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.expand(href='#')
                      i.fa.fa-angle-down
                      span Ouvrir
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.cacher
            form.fileupload#ecritures-recues(action='//jquery-file-upload.appspot.com/', method='POST', enctype='multipart/form-data')
              // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
              .row.fileupload-buttonbar
                .col-lg-12.col-md-12.col-sm-12
                  // The fileinput-button span is used to style the file input field as button
                  span.btn.btn-success.fileinput-button(style='margin: 0 5px;')
                    i.glyphicon.glyphicon-plus
                    span  Ajouter des fichiers
                    input(type='file', name='files[]', multiple='')
                  button.btn.btn-primary.start(type='submit' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-upload
                    span  Télécharger
                  button.btn.btn-warning.cancel(type='reset' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-ban-circle
                    span  Annuler
                  button.btn.btn-danger.delete(type='button' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-trash
                    span  Supprimer
                  // The loading indicator is shown during file processing
                  span.fileupload-loading
                // The global progress information
                .col-lg-5.fileupload-progress.fade
                  // The global progress bar
                  .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                    .progress-bar.progress-bar-success(style='width:0%;')
                  // The extended global progress information
                  .progress-extended
              // The table listing the files available for upload/download
              table.table.table-striped(role='presentation')
                tbody.files
                  if (dossier.pieces && dossier.pieces.ecritures_recues)
                    each file in dossier.pieces.ecritures_recues
                      tr.template-download.fade.in
                        td
                          span.preview
                          if (file.piece_url && checkURL(file.piece_url) == false)
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              iframe(src=file.piece_url, width='80', height='80', scrolling='no')
                          else
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              img(src=file.piece_url, width='80', height='80', scrolling='no')
                        td
                          p.name
                          if (file.piece_url)
                            a(href=file.piece_url, title=file.originalname, download=file.originalname ) #{file.originalname}
                          else
                            span #{file.originalname}
                          if file.error
                            span.label.label-danger Error
                              | #{file.error}
                        td
                          span.size #{file.size}
                        td
                          if (file.deleteUrl)
                            button.btn.btn-danger.delete(data-type='POST', data-url=file.deleteUrl)
                              i.glyphicon.glyphicon-trash
                              span  Supprimer
                            input.toggle(type='checkbox', name='delete', value='1')
                          else
                            button.btn.btn-warning.cancel
                              i.glyphicon.glyphicon-ban-circle
                              span  Annuler
      .col-sm-6
        .panel.panel-white
          .panel-heading
            h4.panel-title
              | Ecritures 
              span.text-bold Envoyées
            .panel-tools
              .dropdown
                a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                  i.fa.fa-cog
                ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                  li
                    a.panel-collapse.expand(href='#')
                      i.fa.fa-angle-down
                      span Ouvrir
                  li
                    a.panel-refresh(href='#')
                      i.fa.fa-refresh
                      span Actualiser
                  li
                    a.panel-expand(href='#')
                      i.fa.fa-expand
                      span Plein écran
              //-
                <a class="btn btn-xs btn-link panel-close" href="#">
                <i class="fa fa-times"></i>
                </a>
          .panel-body.cacher
            form.fileupload#ecritures-envoyees(action='//jquery-file-upload.appspot.com/', method='POST', enctype='multipart/form-data')
              // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
              .row.fileupload-buttonbar
                .col-lg-12.col-md-12.col-sm-12
                  // The fileinput-button span is used to style the file input field as button
                  span.btn.btn-success.fileinput-button(style='margin: 0 5px;')
                    i.glyphicon.glyphicon-plus
                    span  Ajouter des fichiers
                    input(type='file', name='files[]', multiple='')
                  button.btn.btn-primary.start(type='submit' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-upload
                    span  Télécharger
                  button.btn.btn-warning.cancel(type='reset' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-ban-circle
                    span  Annuler
                  button.btn.btn-danger.delete(type='button' style='margin: 0 5px;')
                    i.glyphicon.glyphicon-trash
                    span  Supprimer
                  // The loading indicator is shown during file processing
                  span.fileupload-loading
                // The global progress information
                .col-lg-5.fileupload-progress.fade
                  // The global progress bar
                  .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                    .progress-bar.progress-bar-success(style='width:0%;')
                  // The extended global progress information
                  .progress-extended
              // The table listing the files available for upload/download
              table.table.table-striped(role='presentation')
                tbody.files
                  if (dossier.pieces && dossier.pieces.ecritures_envoyees)
                    each file in dossier.pieces.ecritures_envoyees
                      tr.template-download.fade.in
                        td
                          span.preview
                          if (file.piece_url && checkURL(file.piece_url) == false)
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              iframe(src=file.piece_url, width='80', height='80', scrolling='no')
                          else
                            a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                              img(src=file.piece_url, width='80', height='80', scrolling='no')
                        td
                          p.name
                          if (file.piece_url)
                            a(href=file.piece_url, title=file.originalname, download=file.originalname ) #{file.originalname}
                          else
                            span #{file.originalname}
                          if file.error
                            span.label.label-danger Error
                              | #{file.error}
                        td
                          span.size #{file.size}
                        td
                          if (file.deleteUrl)
                            button.btn.btn-danger.delete(data-type='POST', data-url=file.deleteUrl)
                              i.glyphicon.glyphicon-trash
                              span  Supprimer
                            input.toggle(type='checkbox', name='delete', value='1')
                          else
                            button.btn.btn-warning.cancel
                              i.glyphicon.glyphicon-ban-circle
                              span  Annuler
    .row
      .col-sm-6
        .panel.panel-white
            .panel-heading
              h4.panel-title
                | Courriers 
                span.text-bold Divers
              .panel-tools
                .dropdown
                  a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                    i.fa.fa-cog
                  ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                    li
                      a.panel-collapse.expand(href='#')
                        i.fa.fa-angle-down
                        span Ouvrir
                    li
                      a.panel-refresh(href='#')
                        i.fa.fa-refresh
                        span Refresh
                    li
                      a.panel-config(href='#panel-config', data-toggle='modal')
                        i.fa.fa-wrench
                        span Configurations
                    li
                      a.panel-expand(href='#')
                        i.fa.fa-expand
                        span Fullscreen
            .panel-body.cacher
              form.fileupload#courriers-divers(action='//jquery-file-upload.appspot.com/', method='POST', enctype='multipart/form-data')
                // The fileupload-buttonbar contains buttons to add/delete files and start/cancel the upload
                .row.fileupload-buttonbar
                  .col-lg-12.col-md-12.col-sm-12
                    // The fileinput-button span is used to style the file input field as button
                    span.btn.btn-success.fileinput-button(style='margin: 0 5px;')
                      i.glyphicon.glyphicon-plus
                      span  Ajouter des fichiers
                      input(type='file', name='files[]', multiple='')
                    button.btn.btn-primary.start(type='submit' style='margin: 0 5px;')
                      i.glyphicon.glyphicon-upload
                      span  Télécharger
                    button.btn.btn-warning.cancel(type='reset' style='margin: 0 5px;')
                      i.glyphicon.glyphicon-ban-circle
                      span  Annuler
                    button.btn.btn-danger.delete(type='button' style='margin: 0 5px;')
                      i.glyphicon.glyphicon-trash
                      span  Supprimer
                    // The loading indicator is shown during file processing
                    span.fileupload-loading
                  // The global progress information
                  .col-lg-5.fileupload-progress.fade
                    // The global progress bar
                    .progress.progress-striped.active(role='progressbar', aria-valuemin='0', aria-valuemax='100')
                      .progress-bar.progress-bar-success(style='width:0%;')
                    // The extended global progress information
                    .progress-extended
                // The table listing the files available for upload/download
                table.table.table-striped(role='presentation')
                  tbody.files
                    if (dossier.pieces && dossier.pieces.courriers_divers)
                      each file in dossier.pieces.courriers_divers
                        tr.template-download.fade.in
                          td
                            span.preview
                            if (file.piece_url && checkURL(file.piece_url) == false)
                              a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                                iframe(src=file.piece_url, width='80', height='80', scrolling='no')
                            else
                              a(href=file.piece_url, title=file.name, download=file.originalname, data-gallery='')
                                img(src=file.piece_url, width='80', height='80', scrolling='no')
                          td
                            p.name
                            if (file.piece_url)
                              a(href=file.piece_url, title=file.originalname, download=file.originalname ) #{file.originalname}
                            else
                              span #{file.originalname}
                            if file.error
                              span.label.label-danger Error
                                | #{file.error}
                          td
                            span.size #{file.size}
                          td
                            if (file.deleteUrl)
                              button.btn.btn-danger.delete(data-type='POST', data-url=file.deleteUrl)
                                i.glyphicon.glyphicon-trash
                                span  Supprimer
                              input.toggle(type='checkbox', name='delete', value='1')
                            else
                              button.btn.btn-warning.cancel
                                i.glyphicon.glyphicon-ban-circle
                                span  Annuler
  .hidden
    #infoPour
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Informations supplementaires du client
        br
        .row
          br
        if (dossier.pour && dossier.pour.p_type == 'pp')
          form.form-horizontal(action="")
            .row
              .col-md-6
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Nom 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upClient(type='text', placeholder='Nom du client', name='ident', value="#{dossier.pour.pp.p_nom}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Prenom 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upClient(type='text', placeholder='Prenom du client', name='ident', value="#{dossier.pour.pp.p_prenom}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label
                    | Date nais. :
                  .col-sm-8
                    span.input-icon
                      input.form-control.date-picker.upClient(name='dateClt', placeholder='Date de naissance', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years' value="#{moment(dossier.pour.pp.p_dob).format('DD-MM-YYYY')}")
                      i.fa.fa-calendar
                .form-group
                  label.col-sm-3.control-label
                    | Lieu nais. :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='lieuClt', type='text', placeholder='Lieu de naissance', value="#{dossier.pour.pp.p_pob}")
                      i.fa.fa-home
              .col-md-6
                .form-group
                  label.col-sm-3.control-label
                    | Prefession :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='profClt', type='text', placeholder='Profession du client', value="#{dossier.pour.pp.p_profession}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | Téléphone :
                  .col-sm-8
                    span.input-icon
                      if(dossier.pour.pp.pp_tel == null)
                        input.form-control.input-mask-phone.upClient(name='telClt', type='text', placeholder='Téléphone du client')
                      else
                        input.form-control.input-mask-phone.upClient(name='telClt', type='text', placeholder='Téléphone du client', value="#{dossier.pour.pp.pp_tel}")
                      i.fa.fa-phone
                .form-group
                  label.col-sm-3.control-label
                    | e-mail :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='mailClt', type='email', placeholder='adresse electronique du client', value="#{dossier.pour.pp.pp_email}")
                      i.fa.fa-envelope
                .form-group
                  label.col-sm-3.control-label
                    | Domicile :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='domClt', type='text', placeholder='Domicile du client' value='#{dossier.pour.pp.p_domicile}')
                      i.fa.fa-home
            .row
              .col-md-4.pull-right
                a#upClientShow.btn.btn-dark-orange
                  | Modifier
                a#upClientSave.hidden.btn.btn-dark-orange
                  | Mise à jour
        if (dossier.pour && dossier.pour.p_type == 'pm')
          form.form-horizontal(action="")
            .row
              .col-md-6
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Denomination S. 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upClient(type='text', placeholder='Denomination Sociale du client', name='ident', value="#{dossier.pour.pm.p_denomination}")
                      i.fa.fa-home
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Forme S. 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    select.form-control(name="" value="#{dossier.pour.pm.p_rs}")
                      option(selected='', value='#{dossier.pour.pm.p_rs}') #{dossier.pour.pm.p_rs}
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Capital :
                  .col-sm-8
                    span.input-icon
                      if(dossier.pour.pm.p_capital == null)
                        input.form-control.upClient(type='text', placeholder='Capital du client', name='ident', onkeyup="this.value=this.value.replace(/\D/g,'')")
                      else
                        input.form-control.upClient(type='text', placeholder='Capital du client', name='ident', onkeyup="this.value=this.value.replace(/\D/g,'')", value="#{dossier.pour.pm.p_capital}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | RCCM :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='lieuClt', type='text', placeholder='Numero RCCM du client', value="#{dossier.pour.pm.p_nif}")
                      i.fa.fa-quote-left
                .form-group
                  label.col-sm-3.control-label
                    | Nif :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='lieuClt', type='text', placeholder='Numero Nif du client', value="#{dossier.pour.pm.p_rccm}")
                      i.fa.fa-quote-left
              .col-md-6
                .form-group
                  label.col-sm-3.control-label
                    | Siege social :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='profClt', type='text', placeholder='Profession du client', value="#{dossier.pour.pm.p_siege}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | Représentant :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='telClt', type='text', placeholder='Représentant du client', value="#{dossier.pour.pm.p_representant}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label
                    | Téléphone :
                  .col-sm-8
                    span.input-icon
                      if(dossier.pour.pm.pm_tel == null)
                        input.form-control.upClient(name='telClt', type='text', placeholder='Téléphone du client')
                      else
                        input.form-control.upClient(name='telClt', type='text', placeholder='Téléphone du client', value=" #{dossier.pour.pm.pm_tel}")
                      i.fa.fa-phone
                .form-group
                  label.col-sm-3.control-label
                    | e-mail :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upClient(name='mailClt', type='email', placeholder='Adresse electronique du client', value=" #{dossier.pour.pm.pm_email}")
                      i.fa.fa-envelope
            .row
              .col-md-4.pull-right
                a#upClientShow.btn.btn-dark-orange
                  | Modifier
                a#upClientSave.hidden.btn.btn-dark-orange
                  | Mise à jour
    
    #infoContre
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Informations supplementaires du contre
        br
        .row
          br
        if (dossier.contre && dossier.contre.c_type == 'pp')
          form.form-horizontal(action="")
            .row
              .col-md-6
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Nom 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upContre(type='text', placeholder='Nom du client', name='ident', value="#{dossier.contre.pp.c_nom}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Prenom 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upContre(type='text', placeholder='Prenom du client', name='ident', value="#{dossier.contre.pp.c_prenom}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label
                    | Date nais. :
                  .col-sm-8
                    span.input-icon
                      input.form-control.date-picker.upContre(name='dateClt', placeholder='Date de naissance', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years' value="#{moment(dossier.contre.pp.c_dob).format('DD-MM-YYYY')}")
                      i.fa.fa-calendar
                .form-group
                  label.col-sm-3.control-label
                    | Lieu nais. :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='lieuClt', type='text', placeholder='Lieu de naissance', value="#{dossier.contre.pp.c_pob}")
                      i.fa.fa-home
              .col-md-6
                .form-group
                  label.col-sm-3.control-label
                    | Prefession :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='profClt', type='text', placeholder='Profession du client', value="#{dossier.contre.pp.c_profession}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | Téléphone :
                  .col-sm-8
                    span.input-icon
                      if(dossier.contre.pp.cp_tel == null)
                        input.form-control.upContre(name='telClt', type='text', placeholder='Téléphone du client')
                      else
                        input.form-control.upContre(name='telClt', type='text', placeholder='Téléphone du client', value="#{dossier.contre.pp.cp_tel}")
                      i.fa.fa-phone
                .form-group
                  label.col-sm-3.control-label
                    | e-mail :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='mailClt', type='email', placeholder='adresse electronique du client', value="#{dossier.contre.pp.cp_email}")
                      i.fa.fa-envelope
                .form-group
                  label.col-sm-3.control-label
                    | Domicile :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='domClt', type='text', placeholder='Domicile du client' value='#{dossier.contre.pp.c_domicile}')
                      i.fa.fa-home
            .row
              .col-md-4.pull-right
                a#upContreShow.btn.btn-dark-orange
                  | Modifier
                a#upContreSave.hidden.btn.btn-dark-orange
                  | Mise à jour
        if (dossier.contre && dossier.contre.c_type == 'pm')
          form.form-horizontal(action="")
            .row
              .col-md-6
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Denomination S. 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    span.input-icon
                      input#form-field-1.form-control.upContre(type='text', placeholder='Denomination Sociale du client', name='ident', value="#{dossier.contre.pm.c_denomination}")
                      i.fa.fa-home
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Forme S. 
                    span.symbol.required
                    |  :
                  .col-sm-8
                    select.form-control.upContre(name="" value="#{dossier.contre.pm.c_rs}")
                      option(selected='', value='#{dossier.pour.pm.c_rs}') #{dossier.contre.pm.c_rs}
                .form-group
                  label.col-sm-3.control-label(for='form-field-1')
                    | Capital :
                  .col-sm-8
                    span.input-icon
                      if(dossier.contre.pm.c_capital == null)
                        input.form-control.upContre(type='text', placeholder='Capital du client', name='ident', onkeyup="this.value=this.value.replace(/\D/g,'')")
                      else
                        input.form-control.upContre(type='text', placeholder='Capital du client', name='ident', onkeyup="this.value=this.value.replace(/\D/g,'')", value="#{dossier.contre.pm.c_capital}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | RCCM :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='lieuClt', type='text', placeholder='Numero RCCM du client', value="#{dossier.contre.pm.c_rccm}")
                      i.fa.fa-quote-left
                .form-group
                  label.col-sm-3.control-label
                    | Nif :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='lieuClt', type='text', placeholder='Numero Nif du client', value="#{dossier.contre.pm.c_nif}")
                      i.fa.fa-quote-left
              .col-md-6
                .form-group
                  label.col-sm-3.control-label
                    | Siege social :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='profClt', type='text', placeholder='Profession du client', value="#{dossier.contre.pm.c_siege}")
                      i.fa.fa-money
                .form-group
                  label.col-sm-3.control-label
                    | Représentant :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='telClt', type='text', placeholder='Représentant du client', value="#{dossier.contre.pm.c_representant}")
                      i.fa.fa-user
                .form-group
                  label.col-sm-3.control-label
                    | Téléphone :
                  .col-sm-8
                    span.input-icon
                      if(dossier.contre.pm.cm_tel == null)
                        input.form-control.upContre(name='telClt', type='text', placeholder='Téléphone du client')
                      else
                        input.form-control.upContre(name='telClt', type='text', placeholder='Téléphone du client', value=" #{dossier.contre.pm.cm_tel}")
                      i.fa.fa-phone
                .form-group
                  label.col-sm-3.control-label
                    | e-mail :
                  .col-sm-8
                    span.input-icon
                      input.form-control.upContre(name='mailClt', type='email', placeholder='Adresse electronique du client', value=" #{dossier.contre.pm.cm_email}")
                      i.fa.fa-envelope
            .row
              .col-md-4.pull-right
                a#upContreShow.btn.btn-dark-orange
                  | Modifier
                a#upContreSave.hidden.btn.btn-dark-orange
                  | Mise à jour

          //
            table.table.table-condensed.table-hover
              thead
                th.col-md-2.hidden-xs
                th.col-md-10.hidden-xs
              tbody
                tr
                  td.text-noir Dénomination
                  td.text-left
                    | #{dossier.contre.pm.c_denomination}
                tr
                  td.text-noir Forme Sociale
                  td.text-left
                    | #{dossier.contre.pm.c_rs}
                tr
                  td.text-noir CAPITAL (F CFA)
                  td.text-left
                    | #{dossier.contre.pm.c_capital}
                tr
                  td.text-noir Siège Social
                  td.text-left
                    | #{dossier.contre.pm.c_siege}
                tr
                  td.text-noir RCCM
                  td.text-left
                    | #{dossier.contre.pm.c_rccm}
                tr
                  td.text-noir NIF
                  td.text-left
                    | #{dossier.contre.pm.c_nif}
                tr
                  td.text-noir Représentant
                  td.text-left
                    | #{dossier.contre.pm.c_representant}
                tr
                  td.text-noir Téléphone
                  td.text-left
                    | #{dossier.contre.pm.cm_tel}
                tr
                  td.text-noir Email
                  td.text-left
                    | #{dossier.contre.pm.cm_email}
    #calendrierMiseEtat
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Calendier de mise à l'état
        br
        br
        .row
          br
          form.form-horizontal(role='form')
            .col-md-12
              #mee
              .row
                .col-md-offset-8.col-md-2.text-center
                  mixin bouton_save_mee(id_dossier, id_instruction, juridiction)
                    a#save_mise_en_etat.btn.btn-green(onclick='mise_en_etat_create_post("#{id_dossier}", "#{id_instruction}", "#{juridiction}")')
                      | Sauvegarder
                  if (i_instance[0] && !i_appel[0] && !i_cour[0])
                    +bouton_save_mee(dossier._id, i_instance[0]._id, 'instance')
                  else if (i_appel[0] && !i_cour[0])
                    +bouton_save_mee(dossier._id, i_appel[0]._id, 'appel')
                  else if (i_cour[0])
                    +bouton_save_mee(dossier._id, i_cour[0]._id, 'cour')
                  else
                    +bouton_save_mee(dossier._id, '', '')
                .col-md-offset-1.col-md-1.text-center
                  a#mee_btn.btn.btn-blue(onclick='mise_en_etat("mee");')
                    span.fa.fa-plus
                    | Ajouter
    #dilligence
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Diligences
        br
        br
        .row
          br
          form.form-horizontal(role='form')
            .col-md-12
              #dil
              .row
                .col-md-offset-8.col-md-2.text-center
                  mixin bouton_save_dil(id_dossier, id_instruction, juridiction)
                    a#save_diligence.btn.btn-green(onclick='diligence_create_post("#{id_dossier}", "#{id_instruction}", "#{juridiction}")')
                      | Sauvegarder
                  if (i_instance[0] && !i_appel[0] && !i_cour[0])
                    +bouton_save_dil(dossier._id, i_instance[0]._id, 'instance')
                  else if (i_appel[0] && !i_cour[0])
                    +bouton_save_dil(dossier._id, i_appel[0]._id, 'appel')
                  else if (i_cour[0])
                    +bouton_save_dil(dossier._id, i_cour[0]._id, 'cour')
                  else
                    +bouton_save_dil(dossier._id, '')
                .col-md-offset-1.col-md-1.text-center
                  a#dil_btn.btn.btn-blue(onclick='mise_en_etat("dil");')
                    span.fa.fa-plus
                    | Ajouter
append jscripts
  script(src='/assets/js/custom-calendrier-mise-etat.js')
  script(src='/assets/plugins/dropzone/downloads/dropzone.min.js')
  script(src='/assets/js/form-dropzone.js')
  script(src='/javascripts/dossier_update.js')
  script.
    jQuery(document).ready(function() {
      moment().format();
      //runDatePicker();
      //runTimePicker();
    });
    
  // start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY
  // The basic File Upload plugin
  // The template to display files available for upload
  script#template-upload(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-upload fade">
    <td>
    <span class="preview"></span>
    </td>
    <td>
    <p class="name">{%=file.name%}</p>
    {% if (file.error) { %}
    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
    </td>
    <td>
    <p class="size">{%=o.formatFileSize(file.size)%}</p>
    {% if (!o.files.error) { %}
    <div class="progress progress-striped active" role="progressbar" aria-valuemin="0" aria-valuemax="100" aria-valuenow="0"><div class="progress-bar progress-bar-success" style="width:0%;"></div></div>
    {% } %}
    </td>
    <td>
    {% if (!o.files.error && !i && !o.options.autoUpload) { %}
    <button class="btn btn-primary start">
    <i class="glyphicon glyphicon-upload"></i>
    <span> Télécharger</span>
    </button>
    {% } %}
    {% if (!i) { %}
    <button class="btn btn-warning cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span> Annuler</span>
    </button>
    {% } %}
    </td>
    </tr>
    {% } %}
  // The template to display files available for download
  script#template-download(type='text/x-tmpl').
    {% for (var i=0, file; file=o.files[i]; i++) { %}
    <tr class="template-download fade">
    <td>
    <span class="preview">
    {% if (file.thumbnailUrl) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" data-gallery><img src="{%=file.thumbnailUrl%}" width="80" height="80"></a>
    {% } %}
    </span>
    </td>
    <td>
    <p class="name">
    {% if (file.url) { %}
    <a href="{%=file.url%}" title="{%=file.name%}" download="{%=file.name%}" {%=file.thumbnailUrl?'data-gallery':''%}>{%=file.name%}</a>
    {% } else { %}
    <span>{%=file.name%}</span>
    {% } %}
    </p>
    {% if (file.error) { %}
    <div><span class="label label-danger">Error</span> {%=file.error%}</div>
    {% } %}
    </td>
    <td>
    <span class="size">{%=o.formatFileSize(file.size)%}</span>
    </td>
    <td>
    {% if (file.deleteUrl) { %}
    <button class="btn btn-danger delete" data-type="{%=file.deleteType%}" data-url="{%=file.deleteUrl%}"{% if (file.deleteWithCredentials) { %} data-xhr-fields='{"withCredentials":true}'{% } %}>
    <i class="glyphicon glyphicon-trash"></i>
    <span>Supprimer</span>
    </button>
    <input type="checkbox" name="delete" value="1" class="toggle">
    {% } else { %}
    <button class="btn btn-warning cancel">
    <i class="glyphicon glyphicon-ban-circle"></i>
    <span>Cancel</span>
    </button>
    {% } %}
    </td>
    </tr>
    {% } %}
    
  script(src='/assets/plugins/jQuery-File-Upload/js/vendor/jquery.ui.widget.js')
  // The Templates plugin is included to render the upload/download listings
  script(src='http://blueimp.github.io/JavaScript-Templates/js/tmpl.min.js')
  // The Load Image plugin is included for the preview images and image resizing functionality
  script(src='/assets/plugins/javascript-Load-Image/js/load-image.all.min.js')
  // The Canvas to Blob plugin is included for image resizing functionality
  script(src='http://blueimp.github.io/JavaScript-Canvas-to-Blob/js/canvas-to-blob.min.js')
  // blueimp Gallery script
  script(src='http://blueimp.github.io/Gallery/js/jquery.blueimp-gallery.min.js')
  // The Iframe Transport is required for browsers without support for XHR file uploads
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.iframe-transport.js')
  // The basic File Upload plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload.js')
  // The File Upload processing plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-process.js')
  // The File Upload image preview & resize plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-image.js')
  // The File Upload audio preview plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-audio.js')
  // The File Upload video preview plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-video.js')
  // The File Upload validation plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-validate.js')
  // The File Upload user interface plugin
  script(src='/assets/plugins/jQuery-File-Upload/js/jquery.fileupload-ui.js')
  // The main application script
  script(src='/assets/plugins/jQuery-File-Upload/js/main.js')
  // The XDomainRequest Transport is included for cross-domain file deletion for IE 8 and IE 9
  //if (gte IE 8)&(lt IE 10)
    script(src='js/cors/jquery.xdr-transport.js')
  // end: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY
