extends ../layout

block content
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
            | Dossiers
        li.active
          | Repertoire de #{title}

  .row
    .col-md-12
      // start: DYNAMIC TABLE PANEL
      .panel.panel-white
        .panel-heading
          h4.panel-title
            | Repertoire de 
            span.text-bold #{title}
          .panel-tools
            .dropdown
              a.btn.btn-xs.dropdown-toggle.btn-transparent-grey(data-toggle='dropdown')
                i.fa.fa-cog
              ul.dropdown-menu.dropdown-light.pull-right(role='menu')
                li
                  a.panel-collapse.collapses(href='#')
                    i.fa.fa-angle-up
                    span Cacher
                li
                  a.panel-refresh(href='#')
                    i.fa.fa-refresh
                    span Actualiser
                li
                  a.panel-expand(href='#')
                    i.fa.fa-expand
                    span Plein écran
            //
              <a class="btn btn-xs btn-link panel-close" href="#">
              <i class="fa fa-times"></i>
              </a>
        .panel-body
          .table-responsive
            table#sample-table-2.table.table-striped.table-hover
              thead
                tr
                  th Ref
                  th Parties
                  th Juridiction
                  if(title != 'décision à prendre')
                    th
                      if(title == 'renvois au rôle général')
                        | Delais
                      else
                        | Dernière date de renvoi
              tbody
                - var i = 1
                each dossier in list_dossiers
                  tr
                    td 
                      | #{dossier.dossier.ref_d}
                    td 
                      a.button(href="/dossiers/dossier/#{dossier.dossier._id}") #{dossier.dossier.pour.p_nom} c/ #{dossier.dossier.contre.c_nom}
                    td.text-capitalize
                      | #{dossier.juridiction.nom}
                    if(title != 'décision à prendre')
                      td
                        if(title != 'conclusions à prendre')
                          | #{moment(dossier.renvois[0].r_date).format("DD-MM-YYYY")}
                        else
                          if(dossier.calendrier)
                            | #{moment(dossier.calendrier[0].c_fin).format("DD-MM-YYYY")}
                          else
                            if(dossier.renvois)
                              | #{moment(dossier.renvois[0].r_date).format("DD-MM-YYYY")}
append jscripts
  // start: JAVASCRIPTS REQUIRED FOR THIS PAGE ONLY
  script(src='/assets/plugins/holder/holder.js')
  script(src='/assets/js/table-export.js')
  script(src='/javascripts/desk_mobi.js')
  script.
    jQuery(document).ready(function() {
    TableExport.init();
    });