extends ../layout
append styles
  link(rel='stylesheet', href='/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
  link(rel='stylesheet', href='/assets/plugins/datepicker/css/datepicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css')
  link(rel='stylesheet', href='/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css')

  link(rel='stylesheet', href='/assets/plugins/sweetalert/lib/sweet-alert.css')
  link(rel='stylesheet', href='/assets/plugins/dropzone/downloads/css/dropzone.css')
  link(rel='stylesheet', href='/assets/css/print.css', type='text/css', media='print')
  link(rel='stylesheet', href='/stylesheets/style.css')

  style.
    .str{
      color: #000;
      text-transform : uppercase;
      font-size:16px;
    }

block content
  -let nature = (dossier.nature && (atob(dossier.nature) == 'Civile' || atob(dossier.nature) == 'Référé civil')) ? true : false
  -let inst_appel = (dossier.qualite && (atob(dossier.qualite) == 'Intimé (e)' || atob(dossier.qualite) == 'Appelant (e)')) ? true : false
  -let inst_cour = ((dossier.nature && atob(dossier.nature) == 'Sursis d\'exécution') || (dossier.qualite && (atob(dossier.qualite) == 'Demandeur (resse) au pourvoi' || atob(dossier.qualite) == 'Défendeur (resse) au pourvoi'))) ? true : false
  input#inst_nature(type='hidden', value='#{nature}', disabled)
  input#inst_appel(type='hidden', value='#{inst_appel}', disabled)
  input#inst_cour(type='hidden', value='#{inst_cour}', disabled)
  input#id_dossier(type='hidden', value=dossier._id, disabled)                      
  input#id_dossier(type='hidden', value=dossier._id, disabled)
  if (i_instance[0] && !i_appel[0] && !i_cour[0])
    input#id_instruction(type='hidden', value=(i_instance[0]._id), disabled)
    input#old_division(type='hidden', value='instance', disabled)
  else if (i_appel[0] && !i_cour[0])
    input#id_instruction(type='hidden', value=(i_appel[0]._id), disabled)
    input#old_division(type='hidden', value='appel', disabled)
  else if (i_cour[0])
    input#id_instruction(type='hidden', value=(i_cour[0]._id), disabled)
    input#old_division(type='hidden', value='cour', disabled)
  else
    input#id_instruction(type='hidden', value='', disabled)
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
          | Dossier
        li.active
          | #{title}
  // end: BREADCRUMB
  // start: PAGE CONTENT
  .form-horizontal
    .col-sm-12.col-md-6
      .row.padding-horizontal-10
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Info du dossier
          .panel-body.buttons-widget
            .row
              .col-md-12
                form(method='POST', action='')
                  .row
                    //- - let visible = (dossier.ref_d_p || (dossier.nature && atob(dossier.nature) != 'null') || (dossier.qualite && atob(dossier.qualite) != 'null') || (dossier.resume && atob(dossier.resume) != 'null')) ? 'cacher': 'afficher'
                    .col-md-12
                      .form-group
                        label.col-sm-12.dos-text 
                          | Réf. dossier numerique : 
                          strong.str #{dossier.ref_d}
                      //- if(visible == 'cacher')
                      //-   #visible
                      //-     .form-group
                      //-       label.col-sm-12.dos-text 
                      //-         | Réf. dossier physique : 
                      //-         strong.str #{atob(dossier.ref_d_p)}
                      //-     .form-group
                      //-       label.col-sm-9.dos-text
                      //-         | Pour : 
                      //-         strong.str #{atob(dossier.pour.p_nom)}
                      //-       .col-sm-3
                      //-         a.btn.btn-link.show-calendar(href='#infoPour')
                      //-           span.fa.fa-plus
                      //-           strong d'infos
                      //-     .form-group
                      //-       label.col-sm-12.dos-text 
                      //-         | Qualité : 
                      //-         strong.str 
                      //-           if(dossier.qualite)
                      //-             | #{atob(dossier.qualite)}
                      //-     .form-group
                      //-       label.col-sm-9.dos-text
                      //-         | Contre : 
                      //-         strong.str #{atob(dossier.contre.c_nom)}
                      //-       .col-sm-3
                      //-         a.btn.btn-link.show-calendar(href='#infoContre')
                      //-           span.fa.fa-plus
                      //-           strong d'infos
                      //-     .form-group
                      //-       label.col-sm-12.dos-text 
                      //-         | Avocat Adverse : 
                      //-         strong.str #{atob(dossier.c_avocat)}
                      //-     .form-group
                      //-       label.col-sm-12.dos-text 
                      //-         | Matiere du litige : 
                      //-         strong.str
                      //-           if(dossier.nature)
                      //-             | #{atob(dossier.nature)}
                      //-     .form-group
                      //-       label.col-sm-3.dos-text
                      //-         | Résumé du dossier :
                      //-       .col-sm-8
                      //-         textarea.form-control(placeholder='Résumé du litige', cols='30', rows='7', readonly=true)
                      //-           if(dossier.resume)
                      //-             | #{atob(dossier.resume)}
                      
                      //- #hidden(class=(visible == 'cacher') ? 'hidden': '')
                      - let instruction = (i_instance[0]) ? i_instance[0] : (i_appel[0])? i_appel[0] : (i_cour[0])? i_cour[0] : ''
                      .form-group
                        label.col-sm-3.dos-text
                          | Ref. dossier physique :
                        .col-sm-8
                          input.form-control(name='ref_d_p', placeholder='Saisir la réference du dossier physique', onchange='check_ref(this)', value='#{atob(dossier.ref_d_p)}')
                      .form-group
                        label.col-sm-9.dos-text
                          | Pour : 
                          strong.str #{atob(dossier.pour.p_nom)}
                        .col-sm-3
                          a.btn.btn-link.show-calendar(href='#infoPour')
                            span.fa.fa-plus
                            strong d'infos  
                      .form-group
                        label.col-sm-3.dos-text
                          | Qualité :
                        .col-sm-8
                          select.form-control(name='qualite')
                            if (dossier.qualite && atob(dossier.qualite) != 'null')
                              option(value='#{atob(dossier.qualite)}', selected='#{atob(dossier.qualite)}') #{atob(dossier.qualite)}
                            else
                              option(value='null', selected='') Choisir la qualité
                            option(value='Demandeur (resse)') Demandeur (resse)
                            option(value='Défendeur (resse)') Défendeur (resse)
                            option(value='Prévenu (e)') Prévenu (e)
                            option(value='Inculpé (e)') Inculpé (e)
                            option(value='Accusé (e)') Accusé (e)
                            option(value='Partie civile') Partie civile
                            option(value='Tiers saisi (e)') Tiers saisi (e)
                            option(value='Appelé (e) en garantie') Appelé (e) en garantie
                            option(value='Appelant (e)') Appelant (e)
                            option(value='Intimé (e)') Intimé (é)
                            option(value='Demandeur (resse) au pourvoi') Demandeur (resse) au pourvoi
                            option(value='Défendeur (resse) au pourvoi') Défendeur (resse) au pourvoi 
                      .form-group
                        label.col-sm-9.dos-text
                          | Contre : 
                          strong.str #{atob(dossier.contre.c_nom)}
                        .col-sm-3
                          a.btn.btn-link.show-calendar(href='#infoContre')
                            span.fa.fa-plus
                            strong d'infos
                      .form-group
                        label.col-sm-3.dos-text
                          | Avocat adverse :
                        .col-sm-8
                          input.form-control(name='avocat', placeholder='Saisir l\'avocat adverse', value='#{atob(dossier.c_avocat)}') 
                      .form-group
                        if(instruction == '' || ((instruction.renvois && instruction.renvois.length==0) && (instruction.calendrier && instruction.calendrier.length==0)))
                          label.col-sm-3.dos-text
                            | Matière de litige :
                          .col-sm-8
                            select.form-control(name='nature')
                              if (dossier.nature && atob(dossier.nature) != 'null')
                                option(value=value='#{atob(dossier.nature)}', selected='#{atob(dossier.nature)}') #{atob(dossier.nature)}
                              else
                                option(value='null', selected='') Choisir la nature du litige
                              option(value='Civile') Civile
                              option(value='Commerciale') Commerciale
                              option(value='Référé administratif') Référé administratif
                              option(value='Référé') Référé
                              option(value='Défenses à l\'exécution') Défenses à l'exécution
                              option(value='Difficultés d\'exécution') Difficultés d'exécution
                              option(value='Sursis d\'exécution') Sursis d'exécution
                              option(value='Sociale') Sociale
                              option(value='Pénale') Pénale
                              option(value='Administratif') Administratif
                              option(value='Electorale') Electorale
                        else
                          label.col-sm-12.dos-text 
                            | Matiere du litige : 
                            strong.str #{atob(dossier.nature)}
                          select.hidden.form-control(name='nature')
                            option(value=value='#{atob(dossier.nature)}', selected='#{atob(dossier.nature)}') #{atob(dossier.nature)} 
                      .form-group
                          label.col-sm-3.ods-text
                            | Résumé de l'afffaire :
                          .col-sm-8
                            textarea.form-control(name='resume', placeholder='Résumé du litige', cols='30', rows='7')
                              if(dossier.resume)
                                | #{atob(dossier.resume)}
                      .form-group
                        .col-sm-offset-8.col-sm-3.text-center
                          -let id = dossier._id
                          //- -let btn = (visible == 'cacher') ? 'Modifier': 'Sauvegarder'
                          - let btn = 'Sauvegarder'
                          - let btn_func = (btn == 'Sauvegarder') ? `update_dossier("${id}")` : 'update()'
                          a#btn-func.btn.btn-dark-azure(onclick=btn_func) !{btn}
    .col-sm-12.col-md-6
      .row.padding-horizontal-10
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Instruction du dossier
          .panel-body.buttons-widget
            .tabbable
              ul.nav.nav-tabs
                li.active
                  a(href='#jugement', data-toggle='tab')
                    | Jugement 
              .tab-content
                #jugement.tab-pane.fade.in.active
                  mixin tab_contenu(instruction, juridiction, division)
                    -let last = (instruction && instruction.renvois.length > 0 && instruction.juridiction.division == division) ? parseInt(instruction.renvois.length - 1, 10) : 0
                    .form-group
                      if(instruction && instruction.renvois && instruction.renvois.length>0)
                        label.col-sm-12.dos-text 
                          | Juriduction : 
                          strong.str #{instruction.juridiction.nom}
                        select.hidden.form-control.search-select(name='juridiction_#{division}', id='juridiction_#{division}')
                          option(value='#{instruction.juridiction._id}')
                      else
                        label.col-sm-3.control-label
                          | Juriduction :
                        .col-sm-8
                          if(dossier.nature && dossier.nature != 'null')
                            select.form-control.search-select(name='juridiction_#{division}', id='juridiction_#{division}', onchange='confirm_new_juridiction(this,"#{dossier.id.toString()}", "#{division}")')
                              if (juridiction)
                                // rajouter dans les options la valeur sélectionnée
                                if (!instruction)
                                  option(value='null' selected =true) Sélectionner une jurdiction
                                each j in juridiction
                                  option(value=j._id, selected=((instruction && j._id == instruction.juridiction._id.toString()))) #{j.nom}
                          else
                            select.form-control.search-select(name='juridiction_#{division}', id='juridiction_#{division}', readonly)
                              option(value='null' selected =true) Sélectionner une jurdiction
                    .form-group
                      .col-sm-offset-1.col-sm-8(style='margin-top: 20px;')
                        if(!(instruction && ((instruction.decision && instruction.decision != '') || (instruction.renvois && instruction.renvois.length>0 && instruction.renvois[last].r_type == "delibere vide")) && instruction.juridiction.division == division))
                          if(instruction)
                            a#renseigner_mise_en_etat.btn.btn-dark-purple.show-calendar(href='#calendrierMiseEtat') Créer un calendrier de mise en état
                          else
                            a.btn.btn-dark-purple(onclick='choice_juridiction("#{division}")') Créer un calendrier de mise en état
                        else
                          a.btn.btn-dark-purple(onclick='delibere_instruction("#{division}")') Créer un calendrier de mise en état
                    div(id='bloc_renvoi_ins_#{division}' class=(instruction && (instruction.renvois.length>0 || instruction.calendrier.length>0)) ? '' : 'hidden' )
                      h3 Renvois & Mise en état
                      hr
                      .form-group(id='liste_renvoi_ins_#{division}')
                        if (instruction && instruction.juridiction.division == division)
                          -let check_renvoi  = (instruction.renvois) ? (instruction.renvois.length > 0) ? true : false : false
                          input(type='hidden', value='#{check_renvoi}', id='renvoi_#{division}')
                          each renvoi in instruction.renvois
                            .row
                              .col-sm-offset-1.col-sm-8
                                p Renvoyé au #{moment(renvoi.r_date).format("DD-MM-YYYY")} : #{atob(renvoi.r_motif)}
                          -let check_calendar  = (instruction.calendrier) ? (instruction.calendrier.length > 0) ? true : false : false
                          input(type='hidden', value='#{check_calendar}', id='mee_#{division}')
                          each cal in instruction.calendrier
                            .row
                              .col-sm-offset-1.col-sm-8
                                p MEE du #{moment(cal.c_debut).format("DD-MM-YYYY")} au #{moment(cal.c_fin).format("DD-MM-YYYY")} : #{atob(cal.c_commentaire)}
                      hr
                    if (!(instruction && instruction.renvois.length>0 && atob(instruction.renvois[last].r_type) == "delibere vide" && instruction.juridiction.division == division))
                      .form-group
                        label.col-sm-2.control-label
                          | Renvoi :
                        .col-sm-10
                          .row
                            .col-sm-4(style='padding-right: 10px')
                              span.input-icon
                                input.form-control.date-picker(id='date_ins_#{division}', placeholder='Date', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years')
                                if(instruction && instruction.renvois.length >0 && instruction.juridiction.division == division)
                                  input(type='hidden', id='last_renvoi_ins_#{division}', value='#{moment(instruction.renvois[last].r_date).format("DD-MM-YYYY")}')
                                br.hidden-lg.hidden-md.hidden-sm
                                i.fa.fa-calendar
                            .col-sm-2(style='padding:0')
                              select.form-control(id='type_ins_#{division}', onchange='type_complete_motif(this, "#{division}")')
                                option(disabled='', selected='', value='') Types
                                if(division != 'cour')
                                  option(value='renvoi simple' title='Renvoi simple') R.
                                  option(value='renvoi ferme' title='Renvoi ferme') RF.
                                  option(value='renvoi au role general' title='Renvoi au rôle général') RRG.
                                  option(value='renvoi d\'office' title='Renvoi d\'office') RO
                                  option(value='non appele' title='Non appelé') NA
                                  option(value='mise en delibere' title='Mise en délibéré') D.
                                  option(value='rabat de delibere puis renvoi' title='Rabat de délibéré puis renvoi') DRR.
                                  option(value='nos conclusions' title='Nos conclusions') N. C.
                                else
                                  option(value='nos conclusions' title='Nos conclusions') N. M.
                                option(value='delibere vide' title='Délibéré vide') D. OK
                            .col-sm-6(style='padding:0')
                              .input-group
                                input.form-control(id='motif_ins_#{division}', type='text', placeholder='Motif')
                                if(!(instruction && ((instruction.decision && instruction.decision != '') || (instruction.renvois && instruction.renvois.length>0 && instruction.renvois[last].r_type == "delibere vide")) && instruction.juridiction.division == division))
                                  if(instruction)
                                    a.btn.input-group-addon.btn-dark-beige(onclick='get_renvoi_infos("#{dossier._id}", "#{division}")')
                                      span.fa.fa-check
                                  else
                                    a.btn.input-group-addon.btn-dark-beige(onclick='choice_juridiction("#{division}")')
                                      span.fa.fa-check
                                else
                                    a.btn.input-group-addon.btn-dark-beige(onclick='delibere_instruction("#{division}")')
                                      span.fa.fa-check
                    if (instruction && instruction.decision && instruction.decision != '' && instruction.juridiction.division == division)
                      .form-group
                        label.col-sm-3.control-label
                          | Délibéré :
                        .col-sm-9
                          textarea.form-control(name='decision', id='decision_#{division}', cols='30', rows='7', readonly)
                            | #{atob(instruction.decision)}
                          input(type='hidden', value='true', id='delibere_#{division}')
                    else
                      .form-group
                        label.col-sm-3.control-label
                          | Délibéré :
                        .col-sm-9
                          input(type='hidden', value='false', id='delibere_#{division}')
                          textarea.form-control(id='decision_#{division}', placeholder='Délibéré', cols='30', rows='7')
                    .form-group
                      .col-sm-offset-7.col-sm-3.text-center
                        if(!(instruction && instruction.decision && instruction.decision != '' && instruction.juridiction.division == division))
                          if(instruction)
                            input.btn.btn-dark-azure(type='button', onclick='save_decision("#{dossier._id}","#{instruction._id}","#{division}")', value='Enregistrer')
                  .buttons-widget
                    .tabbable.tabs-below
                      .tab-content
                        #myTab5_instance.tab-pane.fade(class = (i_appel.length == 0 && i_cour.length == 0 && inst_appel == false && inst_cour == false) ? 'in active' : '')
                          +tab_contenu(i_instance[0], j_instance, 'instance')
                        #myTab5_appel.tab-pane.fade(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'in active' : (inst_appel == true && inst_cour == false && i_cour.length == 0) ? 'in active' : ''))
                          +tab_contenu(i_appel[0], j_appel, 'appel')
                        #myTab5_cour.tab-pane.fade(class = (i_cour.length > 0  || inst_cour == true ? 'in active' : ''))
                          +tab_contenu(i_cour[0], j_cour, 'cour')
                      ul#myTab5.nav.nav-tabs
                        li(class = (i_appel.length == 0 && i_cour.length == 0 && inst_appel == false && inst_cour == false) ? 'active' : '')
                          a(href='#myTab5_instance', data-toggle='tab')
                            | Instance
                        li(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'active' : (inst_appel == true && inst_cour == false && i_cour.length == 0) ? 'active' : ''))
                          a(href='#myTab5_appel', data-toggle='tab')
                            | Appel
                        li(class = (i_cour.length > 0 || inst_cour == true ? 'active' : ''))
                          a(href='#myTab5_cour', data-toggle='tab')
                            | Cassation  

  .hidden
    #infoPour
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Informations supplementaires du client
        br
        .row
          br
        form.form-horizontal(action="/parties/pour/update", method='POST')
          input(type='hidden', name='_id', value="#{dossier.pour._id}")
          input(type='hidden', name='dossier_id', value="#{dossier._id}")
          .row
            .col-md-8
              .form-group
                label.col-sm-3.control-label
                  | Noms ou denomination 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input.form-control(type='text', placeholder='Noms de denomination du client', name='p_nom', value="#{atob(dossier.pour.p_nom)}", required)
                    i.fa.fa-user
              .form-group
                label.col-sm-3.control-label
                  | Téléphone :
                .col-sm-8
                  span.input-icon
                    if(dossier.pour.p_tel == null)
                      input.form-control.input-mask-phone(name='p_tel', type='text', placeholder='Téléphone du client')
                    else
                      input.form-control.input-mask-phone(name='p_tel', type='text', placeholder='Téléphone du client', value="#{atob(dossier.pour.p_tel)}")
                    i.fa.fa-phone
              .form-group
                label.col-sm-3.control-label
                  | e-mail :
                .col-sm-8
                  span.input-icon
                    input.form-control(name='p_email', type='email', placeholder='Adresse electronique du client', value="#{atob(dossier.pour.p_email)}")
                    i.fa.fa-envelope
          .row
            .col-md-3.text-center
              input.btn.btn-dark-orange(type='submit', value='Mise à jour du client')
  
    #infoContre
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Informations supplementaires du contre
        br
        .row
          br
        form.form-horizontal(action="/parties/contre/update", method='POST')
          input(type='hidden', name='_id', value="#{dossier.contre._id}")
          input(type='hidden', name='dossier_id', value="#{dossier._id}")
          .row
            .col-md-8
              .form-group
                label.col-sm-3.control-label
                  | Noms ou denomination 
                  span.symbol.required
                  |  :
                .col-sm-8
                  span.input-icon
                    input.form-control(type='text', placeholder='Noms de denomination du contre', name='c_nom', value="#{atob(dossier.contre.c_nom)}", required)
                    i.fa.fa-user
              .form-group
                label.col-sm-3.control-label
                  | Téléphone :
                .col-sm-8
                  span.input-icon
                    if(dossier.contre.c_tel == null)
                      input.form-control.input-mask-phone(name='c_tel', type='text', placeholder='Téléphone du contre')
                    else
                      input.form-control.input-mask-phone(name='c_tel', type='text', placeholder='Téléphone du contre', value="#{atob(dossier.contre.c_tel)}")
                    i.fa.fa-phone
              .form-group
                label.col-sm-3.control-label
                  | e-mail :
                .col-sm-8
                  span.input-icon
                    input.form-control(name='c_email', type='email', placeholder='Adresse electronique du contre', value="#{atob(dossier.contre.c_email)}")
                    i.fa.fa-envelope
          .row
            .col-md-3.text-center
              input.btn.btn-dark-orange(type='submit', value='Mise à jour du contre')
  
    #calendrierMiseEtat
      .noteWrap.col-md-10.col-md-offset-1
        br
        h3 Calendier de mise à l'état
        br
        br
        .row
          br
          form.form-horizontal(role='form')
            .col-md-12
              #mee 
              .row
                .col-md-offset-8.col-md-2.text-center
                  mixin bouton_save_mee(id_dossier, id_instruction, juridiction)
                    a#save_mise_en_etat.btn.btn-green(onclick='mise_en_etat_create_post("#{id_dossier}", "#{id_instruction}", "#{juridiction}")')
                      | Sauvegarder
                  if (i_instance[0] && !i_appel[0] && !i_cour[0])
                    +bouton_save_mee(dossier._id, i_instance[0]._id, 'instance')
                  else if (i_appel[0] && !i_cour[0])
                    +bouton_save_mee(dossier._id, i_appel[0]._id, 'appel')
                  else if (i_cour[0])
                    +bouton_save_mee(dossier._id, i_cour[0]._id, 'cour')
                  else
                    +bouton_save_mee(dossier._id, '', '')
                .col-md-offset-1.col-md-1.text-center
                  a#mee_btn.btn.btn-blue(onclick='mise_en_etat("mee");') 
                    span.fa.fa-plus
                    | Ajouter
append jscripts
  //- script(src='/javascripts/calendrier_mise_etat.js')
  script(src='/javascripts/dossier_update.js')
  script(src='/javascripts/check_ref.js')