extends ../layout
append styles
  link(rel='stylesheet', href='/assets/plugins/bootstrap-touchspin/dist/jquery.bootstrap-touchspin.min.css')
  link(rel='stylesheet', href='/assets/plugins/datepicker/css/datepicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.css')
  link(rel='stylesheet', href='/assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css')
  link(rel='stylesheet', href='/assets/plugins/jQuery-Tags-Input/jquery.tagsinput.css')

  link(rel='stylesheet', href='/assets/plugins/sweetalert/lib/sweet-alert.css')
  link(rel='stylesheet', href='/assets/plugins/dropzone/downloads/css/dropzone.css')
  link(rel='stylesheet', href='/assets/css/print.css', type='text/css', media='print')
  link(rel='stylesheet', href='/stylesheets/style.css')

  style.
    .str{
      color: #000;
      text-transform : uppercase;
      font-size:16px;
    }

block content
  -let nature = (dossier.nature && (dossier.nature == 'Civile' || dossier.nature == 'Référé civil'))
  input#inst_nature(type='hidden', value='#{nature}', disabled)
  input#id_dossier(type='hidden', value=dossier._id, disabled)                      
  input#id_dossier(type='hidden', value=dossier._id, disabled)
  if (i_instance[0] && !i_appel[0] && !i_cour[0])
    input#id_instruction(type='hidden', value=(i_instance[0]._id), disabled)
    input#old_division(type='hidden', value='instance', disabled)
  else if (i_appel[0] && !i_cour[0])
    input#id_instruction(type='hidden', value=(i_appel[0]._id), disabled)
    input#old_division(type='hidden', value='appel', disabled)
  else if (i_cour[0])
    input#id_instruction(type='hidden', value=(i_cour[0]._id), disabled)
    input#old_division(type='hidden', value='cour', disabled)
  else
    input#id_instruction(type='hidden', value='', disabled)
  .row
    .col-md-12
      ol.breadcrumb
        li
          a(href='/')
            | Accueil
        li.active
          | Dossier
        li.active
          | #{title}
  // end: BREADCRUMB
  // start: PAGE CONTENT
  .form-horizontal
    .col-sm-12.col-md-6
      .row.padding-horizontal-10
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Info du dossier
          .panel-body.buttons-widget
            .row
              .col-md-12
                form(method='POST', action='')
                  .row
                    - let visible = (dossier.ref_d_p || (dossier.nature && dossier.nature != 'null') || (dossier.qualite && dossier.qualite != 'null') || (dossier.resume && dossier.resume != 'null')) ? 'cacher': 'afficher'
                    .col-md-12
                      .form-group
                        label.col-sm-12.dos-text 
                          | Réf. dossier numerique : 
                          strong.str #{dossier.ref_d}
                      if(visible == 'cacher')
                        #visible
                          .form-group
                            label.col-sm-12.dos-text 
                              | Réf. dossier physique : 
                              strong.str #{dossier.ref_d_p}
                          .form-group
                            label.col-sm-9.dos-text
                              | Pour : 
                              strong.str #{dossier.pour.p_nom}
                          .form-group
                            label.col-sm-9.dos-text
                              | Contre : 
                              strong.str #{dossier.contre.c_nom}
                          .form-group
                            label.col-sm-12.dos-text 
                              | Matiere du litige : 
                              strong.str #{dossier.nature}
                      #hidden(class=(visible == 'cacher') ? 'hidden': '')
                        .form-group
                          label.col-sm-3.dos-text
                            | Ref. dossier physique :
                          .col-sm-8
                            input.form-control(name='ref_d_p', placeholder='Saisir la réference du dossier physique', onchange='check_ref(this)', value='#{dossier.ref_d_p}')
                        .form-group
                          label.col-sm-9.dos-text
                            | Pour : 
                            strong.str #{dossier.pour.p_nom}
                        .form-group
                          label.col-sm-9.dos-text
                            | Contre : 
                            strong.str #{dossier.contre.c_nom}
                        .form-group.hidden
                          label.col-sm-3.dos-text
                            | Avocat adverse :
                          .col-sm-8
                            input.form-control(name='avocat', placeholder='Saisir l\'avocat adverse', value='#{dossier.avocat_adverse}') 
                        .form-group
                          - let instruction = (i_instance[0]) ? i_instance[0] : (i_appel[0])? i_appel[0] : (i_cour[0])? i_cour[0] : ''
                          if(instruction == '' || (instruction != '' && ((instruction.renvois && instruction.renvois.length==0) || (instruction.calendrier && instruction.calendrier.length==0))))
                            label.col-sm-3.dos-text
                              | Matière de litige :
                            .col-sm-8
                              select.form-control(name='nature')
                                if (dossier.nature && dossier.nature != 'null')
                                  option(value=value='#{dossier.nature}', selected='#{dossier.nature}') #{dossier.nature}
                                else
                                  option(value='null', selected='') Choisir la nature du litige
                                option(value='Civile') Civile
                                option(value='Commerciale') Commerciale
                                option(value='Référé administratif') Référé administratif
                                option(value='Référé') Référé
                                option(value='Défenses à l\'exécution') Défenses à l'exécution
                                option(value='Difficultés d\'exécution') Difficultés d'exécution
                                option(value='Sursis d\'exécution') Sursis d'exécution
                                option(value='Sociale') Sociale
                                option(value='Pénale') Pénale
                                option(value='Administratif') Administratif
                                option(value='Electorale') Electorale
                          else
                            label.col-sm-12.dos-text 
                              | Matiere du litige : 
                              strong.str #{dossier.nature}
                            select.hidden.form-control(name='nature')
                              option(value=value='#{dossier.nature}', selected='#{dossier.nature}') #{dossier.nature} 
                      .form-group
                        .col-sm-offset-8.col-sm-3.text-center
                          -let id = dossier._id
                          -let btn = (visible == 'cacher') ? 'Modifier': 'Sauvegader'
                          - let btn_func = (btn == 'Sauvegader') ? `update_dossier("${id}")` : 'update()'
                          a#btn-func.btn.btn-dark-azure(onclick=btn_func) !{btn}
    .col-sm-12.col-md-6
      .row.padding-horizontal-10
        .panel.panel-white
          .panel-heading
            h4.panel-title
              span.text-bold Instruction du dossier
          .panel-body.buttons-widget
            .tabbable
              if (dossier.nature && dossier.nature != 'null')
                ul.nav.nav-tabs
                  li.active
                    a(href='#jugement', data-toggle='tab')
                      | Jugement 
                .tab-content
                  #jugement.tab-pane.fade.in.active
                    mixin tab_contenu(instruction, juridiction, division)
                      -let last = 0
                      if(instruction && instruction.renvois.length > 0 && instruction.juridiction.division == division)
                        - last = parseInt(instruction.renvois.length - 1, 10)
                      .form-group
                        label.col-sm-3.control-label
                          | Juriduction :
                        .col-sm-8
                          if(instruction && ((instruction.renvois && instruction.renvois.length>0) || (instruction.calendrier && instruction.calendrier.length>0)))
                            select.form-control(name='juridiction_#{division}', id='juridiction_#{division}', readonly)
                              option(value=instruction.juridiction._id) #{instruction.juridiction.nom}
                          else
                            select.form-control.search-select(name='juridiction#{division}', id='juridiction_#{division}', onchange='confirm_new_juridiction(this,"#{dossier.id.toString()}", "#{division}")')
                              if (juridiction)
                                // rajouter dans les options la valeur sélectionnée
                                if (!instruction)
                                  option(value='null' selected =true) Sélectionner une jurdiction
                                each j in juridiction
                                  option(value=j._id, selected=((instruction && j._id == instruction.juridiction._id.toString()))) #{j.nom}
                      if (instruction && instruction.renvois && instruction.renvois.length>0 && instruction.juridiction.division == division)
                        if(instruction.renvois[last].r_type != "delibere vide")
                          .form-group
                            label.col-sm-3.control-label
                              | Calendrier d'instruction
                              br
                              |  ou de mise en état :
                            .col-sm-8(style='margin-top: 20px;')
                              a#renseigner_mise_en_etat.btn.btn-dark-purple.show-calendar(href='#calendrierMiseEtat') Voir / Renseigner
                      else
                        .form-group
                          label.col-sm-3.control-label
                            | Calendrier d'instruction
                            br
                            |  ou de mise en état :
                          .col-sm-8(style='margin-top: 20px;')
                            a.btn.btn-dark-purple(onclick='choice_juridiction("#{division}")') Voir / Renseigner
                      div(id='bloc_renvoi_ins_#{division}' class=(instruction && (instruction.renvois.length>0 || instruction.calendrier.length>0)) ? '' : 'hidden' )
                        h3 Renvois & Mise à l'état
                        hr
                        .form-group(id='liste_renvoi_ins_#{division}')
                          if (instruction && instruction.juridiction.division == division)
                            -let check_renvoi  = (instruction.renvois) ? (instruction.renvois.length > 0) ? true : false : false
                            input(type='hidden', value='#{check_renvoi}', id='renvoi_#{division}')
                            each renvoi in instruction.renvois
                              .row
                                .col-sm-offset-1.col-sm-8
                                  p.text-capitalize Renvoyé au #{moment(renvoi.r_date).format("DD-MM-YYYY")} pour #{renvoi.r_motif}
                            -let check_calendar  = (instruction.calendrier) ? (instruction.calendrier.length > 0) ? true : false : false
                            input(type='hidden', value='#{check_calendar}', id='mee_#{division}')
                            each cal in instruction.calendrier
                              .row
                                .col-sm-offset-1.col-sm-8
                                  p MEE du #{moment(cal.c_debut).format("DD-MM-YYYY")} au #{moment(cal.c_fin).format("DD-MM-YYYY")} : #{cal.c_commentaire}
                        hr
                      if (!(instruction && instruction.renvois.length>0 && instruction.renvois[last].r_type == "delibere vide" && instruction.juridiction.division == division))
                        .form-group
                          label.col-sm-2.control-label
                            | Renvoi :
                          .col-sm-10
                            .row
                              .col-sm-4(style='padding-right: 10px')
                                span.input-icon
                                  input.form-control.date-picker(id='date_ins_#{division}' placeholder='Date', type='text', data-date-format='dd-mm-yyyy', data-date-viewmode='years')
                                  br.hidden-lg.hidden-md.hidden-sm
                                  i.fa.fa-calendar
                              .col-sm-2(style='padding:0')
                                select.form-control(id='type_ins_#{division}', onchange='type_complete_motif(this)')
                                  option(disabled='', selected='', value='') Types
                                  if(division != 'cour')
                                    option(value='renvoi simple' title='Renvoi simple') R.
                                    option(value='renvoi ferme' title='Renvoi ferme') RF.
                                    option(value='renvoi au role general' title='Renvoi au rôle général') RRG.
                                    option(value='renvoi d\'office' title='Renvoi d\'office') RO
                                    option(value='non appele' title='Non appelé') NA
                                    option(value='mise en delibere' title='Mise en délibéré') D.
                                    option(value='rabat de delibere puis renvoi' title='Rabat de délibéré puis renvoi') DRR.
                                    option(value='nos conclusions' title='Nos conclusions') N. C.
                                  else
                                    option(value='nos conclusions' title='Nos conclusions') N. M.
                                  option(value='delibere vide' title='Délibéré vide') D. OK
                              .col-sm-6(style='padding:0')
                                .input-group
                                  input.form-control.motif(id='motif_ins_#{division}', type='text', placeholder='Motif')
                                  if(instruction && (!instruction.decision || instruction.decision == ''))
                                    a.btn.input-group-addon.btn-dark-beige(onclick='get_renvoi_infos("#{dossier._id}", "#{division}")')
                                      span.fa.fa-check
                                  else
                                    a.btn.input-group-addon.btn-dark-beige(onclick='choice_juridiction("#{division}")')
                                      span.fa.fa-check
                      else
                        -let check_delibere  = true
                        input(type='hidden', value='#{check_delibere}', id='delibere_#{division}')
                    .buttons-widget
                      .tabbable.tabs-below
                        .tab-content
                          #myTab5_instance.tab-pane.fade(class = ((i_appel.length > 0 || i_cour.length > 0 ? '' : 'in active')))
                            +tab_contenu(i_instance[0], j_instance, 'instance')
                          #myTab5_appel.tab-pane.fade(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'in active' : ''))
                            +tab_contenu(i_appel[0], j_appel, 'appel')
                          #myTab5_cour.tab-pane.fade(class = (i_cour.length > 0 ? 'in active' : ''))
                            +tab_contenu(i_cour[0], j_cour, 'cour')
                        ul#myTab5.nav.nav-tabs
                          li(class = ((i_appel.length > 0 || i_cour.length > 0) ? '' : 'active'))
                            a(href='#myTab5_instance', data-toggle='tab')
                              | Instance
                          li(class = ((i_appel.length > 0 && i_cour.length == 0) ? 'active' : ''))
                            a(href='#myTab5_appel', data-toggle='tab')
                              | Appel
                          li(class = (i_cour.length > 0 ? 'active' : ''))
                            a(href='#myTab5_cour', data-toggle='tab')
                              | Cassation  
append jscripts
  script(src='/assets/js/custom-calendrier-mise-etat.js')
  script(src='/javascripts/dossier_update.js')
  script(src='/javascripts/check_ref.js')